@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-Black.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-Black.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-ThinItalic.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-ThinItalic.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-BlackItalic.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-BlackItalic.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-LightItalic.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-LightItalic.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-Medium.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-Medium.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-Bold.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-Bold.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-MediumItalic.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-MediumItalic.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-Italic.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-Italic.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-Light.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-Light.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-Regular.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-Regular.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-BoldItalic.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-BoldItalic.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url($baseUrl + '../font/Roboto/Roboto-Thin.eot');
  src: url($baseUrl + '../font/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/Roboto/Roboto-Thin.woff') format('woff'),
    url($baseUrl + '../font/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url($baseUrl + '../font/icomoon/fonts/icomoon.eot?g7tmho');
  src:  url($baseUrl + '../font/icomoon/fonts/icomoon.eot?g7tmho#iefix') format('embedded-opentype'),
    url($baseUrl + '../font/icomoon/fonts/icomoon.ttf?g7tmho') format('truetype'),
    url($baseUrl + '../font/icomoon/fonts/icomoon.woff?g7tmho') format('woff'),
    url($baseUrl + '../font/icomoon/fonts/icomoon.svg?g7tmho#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}