body {
  header {
    height: 62px;
    // background-color: rgba(39, 220, 148, 0.9);
    background-color: #fff;
    @include box-shadow(0px 2px 9px 0 rgba(0, 0, 0, 0.1));
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;

    .col-center {
      .logo {
        margin-right: 25px;
        float: left;

        img {
          height: 42px;
        }
      }

      padding-top: 8px;
      padding-bottom: 12px;
      display: table;

      .btn-group.open .dropdown-toggle {
        @include box-shadow(0 0 0 transparent);
        background-color: #FFF;
      }

      .header-help {
        margin-left: 20px;
      }

      .btn-group,
      .header-help {
        float: left;
        margin-right: 15px;
        margin-top: 4px;
        position: relative;
        color: #27dc94;

        .icon-arrow-instruction {
          position: absolute;
          top: -5px;
          left: -20px;
          font-size: 20px;
        }

        .text {
          font-size: 14px;
          font-style: italic;
          letter-spacing: 0.3px;
          position: relative;
          top: 10px;
        }
      }

      .city-dropdown {
        @include border-radius(20px);
        border: 1px solid #c8c8c8 !important;
        background-color: #fff !important;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.3px;
        color: #333 !important;
        padding: 8px 20px;

        &:active {
          @include box-shadow(inset 0 0 0 rgba(0,0,0,0));
        }

        &:active:focus {
          background-color: rgba(0,0,0,0.1);
          border: 0;
          color: #ffffff;
        }

        .caret {
          margin-left: 15px;
        }
      }

      .dropdown-menu {
        @include box-shadow(0px 3px 7px 0 rgba(0, 0, 0, 0.2));

        > li {
          > a {
            padding: 10px 20px;

            &:hover {
              background-color: #f1f1f1;
            }

            &.active {
              color: #27dc94;
            }
          }
        }
      }

      .h-search-box {
        background: #fff;
        @include border-radius(25px);
        position: relative;
        float: left;
        width: 450px;
        border: 1px solid #c8c8c8;
        margin-top: 4px;

        input {
          border: 0;
          background-color: transparent;
          width: 100%;
          padding: 8px 20px;
          @include placeholder(#878787);
          outline: 0;
        }

        .sh-btn-search {
          @include vertical-center(absolute);
          right: 10px;
          background-color: transparent;
          border: 0;

          .icon-search {
            font-size: 17px;
            color: #b2b2b2;
          }
        }
      }
    }

    .col-right {
      padding-top: 8px;
      padding-bottom: 12px;
      display: table;

      .notifications {
        position: relative;

        .icon-bag {
          font-size: 28px;
          color: #333;
          position: relative;
          top: 10px;
          right: 15px;
        }

        .notification-badge {
          position: absolute;
          top: -8px;
          right: 7px;
          text-align: center;
          background: #f7c11e;
          width: 20px;
          @include border-radius(50%);

          font-size: 12px;
          font-weight: bold;
          color: #ffffff;
        }
      }

      .btn {
        @include border-radius(20px);
        border: 0;
        background-color: #27dc94 !important;
        padding: 8px 20px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1.2px;
        color: #ffffff;
      }

      .btn-group-profile {
        max-width: 160px;
        display: inline-block;

        button {
          padding: 3px 10px 3px 3px;
          outline: 0;
          background: transparent !important;
          border: 1px solid #c8c8c8;
          color: #333;

          &:active:focus {
            outline: 0;
          }

          span {
            max-width: 100px;
            display: inline-block;
            position: relative;
            top: 5px;
          }
        }

        .dropdown-menu {
          @include box-shadow(0px 3px 7px 0 rgba(0, 0, 0, 0.2));
          margin-top: -10px;
          right: 10px;
          padding: 0;
          overflow: hidden;

          > li {
            border-bottom: 1px solid #f1f1f1;

            > a {
              padding: 10px;

              &:hover {
                background-color: #f1f1f1;
              }

              &.active {
                color: #27dc94;
              }

              i {
                color: #4f4f4f;
                font-size: 20px;
                float: left;
                padding-right: 15px;
              }
            }
          }
        }
      }
    }
  }
}