.icon-arrow-down:before {
  content: "\e918";
}
.icon-arrow-up:before {
  content: "\e919";
}
.icon-close-circle:before {
  content: "\e914";
}
.icon-check-circle:before {
  content: "\e915";
}
.icon-moto:before {
  content: "\e916";
}
.icon-reload:before {
  content: "\e917";
}
.icon-arrow-right-long:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90f";
}
.icon-logout:before {
  content: "\e911";
}
.icon-setting:before {
  content: "\e912";
}
.icon-order-history:before {
  content: "\e913";
}
.icon-minus:before {
  content: "\e903";
}
.icon-arrow-prev:before {
  content: "\e900";
}
.icon-arrow-next:before {
  content: "\e901";
}
.icon-package:before {
  content: "\e902";
}
.icon-plus:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-star:before {
  content: "\e906";
}
.icon-money-circle:before {
  content: "\e907";
}
.icon-time:before {
  content: "\e908";
}
.icon-marker:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-caret:before {
  content: "\e90b";
}
.icon-bag-2:before {
  content: "\e90c";
}
.icon-arrow-instruction:before {
  content: "\e90d";
}
.icon-bag:before {
  content: "\e910";
}
