$baseUrl: '';

@import "mixin";
@import "font";
@import "icon-svg";
@import "icon-png";
@import "modal";

body {
  font-family: 'Roboto';
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "header";
@import "footer";
@import "transition";

.container {
  width: 1170px !important;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

[class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  cursor: pointer;
  
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    opacity: 0.5;
  }
}

h1, h2, h3, h4, ul {
  margin: 0;
  padding: 0;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;

  &.rounded {
    @include border-radius(25px);
  }
}

.ellipsis {
  @include ellipsis();
}

.page {
  padding-top: 62px;
}

.open>.dropdown-toggle {
  &:focus, &:active {
    @include box-shadow(0 0 0 transparent);
  }
}

.btn, button {
  outline: 0 !important;
  
  &:active {
    @include box-shadow(0 0 0 transparent);
    opacity: 0.5;
  }
}

.display-table {
  display: table;
  width: 100%;
}

.hasStickOnScroll {
  z-index: 9000 !important;
}

.link-default {
  color: #589cdb;
}

#toast-container {
  &.toast-top-right {
    top: 70px;

    .toast-success {
      background-color: #232323;
      @include border-radius(25px !important);
      padding: 10px 10px 10px 50px !important;

      .toast-message {
        font-size: 14px;
        letter-spacing: 0.4px;
        color: #ffffff;
        font-weight: 500;
      }
    }
  }
}

.fw500 {
  font-weight: 500;
}