.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

.carousel-fade-effect {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }
    .active {
      opacity: 1;
      &.left, &.right {
        left: 0;
        opacity: 0;
        z-index: 1;
      }
    }
    .next.left, .prev.right {
      opacity: 1;
    }
  }
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item {
    &.next, &.active.right, &.prev, &.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    &.next.left, &.prev.right, &.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

.modal {
  z-index: 10001;
}

.modal-backdrop {
  z-index: 10000;
}

.modal-content {
  margin: 10px auto 10px;
}

.modal-header-transparent {
  .modal-content {
    background-color: transparent;
    @include box-shadow(0 0 0 transparent);
    border: 0;
    max-width: 900px;

    .modal-header {
      border: 0;
      padding: 0;

      .close {
        margin-top: 0;
        color: #fff;
        opacity: 1;
        padding: 10px 15px;

        > span {
          font-size: 13px;
        }
      }
    }

    .modal-body {
      @include box-shadow(0px 2px 16px 0 rgba(0, 0, 0, 0.32));
      @include border-radius(5px);
    }
  }
}

.login-modal {
  .modal-content {
    .modal-body {
      color: #fff;
      padding: 0;

      .body-wrapper {
        display: table;
        width: 100%;
        @include border-radius(5px);
        padding: 20px 20px 20px 25px;

        &.form-login-register {
          background-color: #27dc94;
        }

        &.form-forgot-password {
          background-color: #7490a4;
        }

        .lm-left {
          float: left;
          width: 45%;
          position: relative;
          z-index: 1;

          h4 {
            font-size: 30px;
            color: #ffffff;
            margin-bottom: 20px;
            font-weight: normal;
          }

          p {
            max-width: 250px;
          }
        }

        .lm-right {
          background-color: #FFF;
          padding: 25px;
          float: right;
          width: 55%;
          @include box-shadow(0px 2px 16px 0 rgba(0, 0, 0, 0.32));
          @include border-radius(5px);
          min-height: 500px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            left: -100%;
            bottom: 0;
            background: url("../img/login-bg.png") bottom right no-repeat;
            height: 100%;
            width: 100%;
          }

          .nav-tabs {
            border: 0;
            margin-bottom: 20px;

            > li {
              float: none;
              display: inline-block;
              width: 45%;
              text-align: center;

              &.active {
                a {
                  color: #333;
                }
              }

              &.border {
                border-right: 1px solid #ccc;
              }

              > a {
                border: 0;
                @include border-radius(0);
                font-size: 22px;
                letter-spacing: 0.7px;
                color: #999999;
                padding: 0;

                &:hover {
                  background-color: transparent;
                }
              }
            }
          }

          .form-control {
            @include box-shadow(0px 1px 3px 0 rgba(0, 0, 0, 0.09));
            @include border-radius(25px);
            border: 1px solid #e5e5e5;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.5px;
            color: #999999;
            padding: 10px 20px;
            margin-bottom: 15px;
            height: auto;

            > input[type='text'],
            > input[type='password'] {
              background: #fff;
              width: 70%;
              padding: 0;
              border: 0;
              outline: 0;
              font-size: 16px;
              font-weight: 300;
              letter-spacing: 0.5px;
              color: #999999;

              @include placeholder(#999);
            }
          }

          .link-forgot-password {
            font-size: 14px;
            display: block;
            padding-bottom: 5px;
            letter-spacing: 0.4px;
          }

          .button-login {
            border: 0;
            background: #27dc94;
            @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
            @include border-radius(25px);
            padding: 15px 0;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.4px;
            color: #ffffff;
          }

          .form-footer {
            margin-top: 120px;

            .help {
              font-size: 14px;
              font-weight: 300;
              letter-spacing: 0.4px;
              text-align: center;
              color: #999999;
              margin-bottom: 15px;
            }

            .btn {
              @include border-radius(25px);
              @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
              padding: 10px 20px;
              outline: 0;

              > i {
                width: 17px;
                height: 17px;
                top: 2px;
              }

              span {
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 1.2px;
                text-align: center;
              }
            }

            .button-fb {
              background: #2c5893;

              span {
                color: #ffffff;
              }
            }

            .button-google {
              background: #fff;
              border: solid 1px #d1d1d1;

              span {
                color: #333333;
              }
            }
          }

          #register {
            .input-email-form {
              display: none;
            }

            &.email-form {
              .input-email-form {
                display: block;
              }

              .input-phone-form {
                display: none;
              }
            }

            .input-phone-number {
              input {
                width: 55%;
              }
              button {
                float: right;
                background: transparent;
                border: 0;
                padding: 0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.5px;
                color: #333333;

                i {
                  color: #27dc94;
                  font-size: 13px;
                  margin-right: 10px;
                }
              }
            }

            .term {
              text-align: center;
              font-size: 12px;
              font-weight: 300;
              letter-spacing: 0.4px;
              color: #333333;
              margin-top: 10px;
              
              a {
                color: #e47c1f;
              }
            }

            .form-footer {
              margin-top: 30px;

              .icon-png-phone {
                width: 22px;
                height: 22px;
                top: -1px;
                left: -4px;
              }
            }
          }
          
          .form-header {
            font-size: 22px;
            letter-spacing: 0.7px;
            color: #333333;
            font-weight: normal;
          }

          .form-icon {
            margin: 40px 0 45px;
          }
        }
      }
    }
  }
}

.share-modal {
  .modal-content {
    @include box-shadow(0px 2px 16px 0 rgba(0, 0, 0, 0.32));
    @include border-radius(5px);

    .modal-header {
      background-color: #646464;

      h4 {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.7px;
        color: #ffffff;
        text-transform: uppercase;
      }

      button.close {
        font-size: 15px;
        opacity: 1;

        .icon-close {
          color: rgba(255,255,255,0.5);
        }
      }
    }

    .modal-body {
      .share-help {
        font-size: 14px;
        font-weight: 500;
        color: #333333;
        margin-bottom: 10px;
      }

      .share-link {
        background-color: #e3e3e3;
        border: 0;
        padding: 15px;
        width: 100%;
        @include border-radius(3px);
        outline: 0;
      }

      .share-action {
        margin-top: 15px;

        span {
          display: inline-block;
          margin-right: 10px;
        }

        a {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  } 
}

.user-list-modal {
  .modal-content {
    max-width: 785px;

    .modal-body {
      background: url('../img/pay-bg.png') 0 0 no-repeat #eaeaea;

      .header {
        h2 {
          font-size: 26px;
          color: #ffffff;
          font-weight: normal;
          margin-bottom: 15px;
        }

        .store-name {
          font-size: 10px;
          letter-spacing: 1px;
          color: #ffffff;
          text-transform: uppercase;
          display: inline-block;
          background: rgba(0,0,0,0.2);
          @include border-radius(25px);
          padding: 7px 15px;
        }

        .store-address {
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0.6px;
          color: #ffffff;
          padding: 7px 15px;
        }
      }

      .detail {
        margin-top: 25px;
        @include border-radius(5px);
        background-color: #FFF;
        @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.15));

        .detail-header {
          background-color: #eeeeee;
          padding: 12px 20px;
          @include border-radius(5px 5px 0 0);
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0.7px;
          color: #333333;
        }

        .detail-content {
          padding: 15px;
          padding-bottom: 0;
        }
        
        .table {
          margin-bottom: 0;

          caption {
            padding: 0px 0 10px;
            font-size: 14px;
            font-weight: 500;
            color: #333333;
          }

          tr {
            th, td {
              font-weight: normal;
              border-bottom: 1px solid #e6e6e6;
              border-top: 0;
              padding: 10px 0;
              vertical-align: middle;

              &.no-border {
                border-bottom: 0;
              }

              .name {
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.4px;
                color: #333333;
                display: inline-block;
                margin-left: 10px;
              }

              .icon {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
              }

              .button-submit {
                background-color: #27dc94;
                @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 1.2px;
                color: #ffffff;
                text-transform: uppercase;
                padding: 10px 25px;
                @include border-radius(25px);
              }
            }
          }

          .detail-empty {
            text-align: center;

            img {
              padding-top: 50px;
            }

            p {
              margin-top: 20px;
              font-size: 16px;
              letter-spacing: 0.5px;
              color: #666666;
            }
          }
        }
      }
    }
  }
}

.add-cart-modal {
  .modal-content {
    .modal-body {
      .detail {
        .detail-content {
          padding: 20px;

          .product-name {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.9px;
            color: #333333;
          }

          .product-desc {
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.7px;
            color: #969696;
            padding-top: 8px;
          }

          .product-price {
            font-size: 16px;
            letter-spacing: 0.8px;
            color: #d90b0b;
            padding-top: 20px;
          }
          
          .display-table {
            border-top: 1px solid #e6e6e6;
            padding-top: 15px;

            .table-td {
              vertical-align: middle;
              display: table-cell;

              .product-quantity {
                .quantity-button {
                  width: 20px;
                  height: 20px;
                  cursor: pointer;

                  i {
                    top: -1px;

                    &.icon-plus {
                      left: -1px;
                    }
                  }
                }

                .quantity-text {
                  font-size: 19.6px;
                  font-weight: 300;
                  letter-spacing: 0.6px;
                  color: #333333;
                  display: inline-block;
                  padding: 0 10px;
                }
              }
            }
          }

          .button-submit {
            background-color: #27dc94;
            @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1.2px;
            color: #ffffff;
            text-transform: uppercase;
            padding: 10px 25px;
            @include border-radius(25px);
          }

          .add-more {
            margin-top: 25px;
            min-height: 100px;

            .help {
              border-bottom: 1px solid #e6e6e6;
              font-size: 14px;
              letter-spacing: 0.7px;
              color: #969696;
              padding-bottom: 10px;
              margin-bottom: 0;
            }

            .add-more-list {
              max-height: 100px;
              overflow-y: auto;

              &::-webkit-scrollbar-track {
                // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #ebebeb;
                @include border-radius(5px);
              }
              &::-webkit-scrollbar {
                width: 6px;
                background-color: #ebebeb;
                @include border-radius(5px);
              }
              &::-webkit-scrollbar-thumb {
                background-color: #9a9a9a;
                @include border-radius(5px);
              }

              input[type='checkbox'] {
                position: absolute;
                opacity: 0;

                &:checked + span:before {
                  background: #27dc94;
                  border-color: #27dc94;
                }
                &:checked + span:after {
                  content: '';
                  position: absolute;
                  left: 4px;
                  top: 8px;
                  background: white;
                  width: 2px;
                  height: 2px;
                  box-shadow: 
                    2px 0 0 white,
                    4px 0 0 white,
                    4px -2px 0 white,
                    4px -4px 0 white,
                    4px -6px 0 white,
                    4px -8px 0 white;
                  transform: rotate(45deg);
                }
              }

              span {
                position: relative;

                &:before {
                  content: '';
                  margin-right: 10px;
                  display: inline-block;
                  vertical-align: text-top;
                  width: 18px;
                  height: 18px;
                  background: white;
                  border: 1px solid #27dc94;
                  @include border-radius(3px);
                }

                b {
                  font-weight: normal;
                  color: #d90b0b;
                  display: inline-block;
                  margin-left: 20px;
                }
              }

              label {
                padding: 7px 0;
                text-transform: none;
                font-size: 14px;
                letter-spacing: 0.7px;
                color: #333333;
                font-weight: normal;
                display: block;
                cursor: pointer;

                &:hover {
                  background-color: #f2f2f2;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-640 {
  .modal-content {
    width: 640px !important;
  }
}


.info-modal {
  .modal-body {
    padding: 0;

    .info-modal-header {
      background-color: #FFF;
      @include border-radius(5px 5px 0 0);

      h4 {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0.8px;
        color: #333;
        padding: 20px 20px 0;
        text-transform: uppercase;

        hr {
          margin-top: 10px;
          margin-bottom: 0;
        }
      }
    }

    .info-modal-content {
      background-color: #FFF;
      padding: 15px 20px;

      font-size: 14px;
      font-weight: 300;
      line-height: 1.79;
      letter-spacing: 0.7px;
      color: #333333;

      h3 {
        font-size: 20px;
        font-weight: normal;
        line-height: 1.25;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
    }

    .info-modal-footer {
      background-color: #FFF;
      padding: 5px 15px 15px;
      @include border-radius(0 0 5px 5px);

      .btn-primary {
        background-color: #27dc94;
        @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
        @include border-radius(25px);
        padding: 10px 40px;
        border: 0;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.4px;
        color: #ffffff;
      }
    }
  }

  &#infoModalGreen {
    .modal-body {
      .info-modal-header {
        background-color: #27dc94;

        h4 {
          font-size: 16px;
          letter-spacing: 0.7px;
          color: #fff;
          font-weight: 500;
          padding: 12px 20px;
        }
      }
    }
  }
}

.congrat-modal {
  .congrat-modal-header {
    height: 158px;
    text-align: center;
    background-color: #7490a4;
    position: relative;
    @include border-radius(5px 5px 0 0);

    img {
      width: 419px;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.welcome-modal {
  .welcome-modal-header {
    height: 158px;
    text-align: center;
    background-color: #7490a4;
    position: relative;
    @include border-radius(5px 5px 0 0);

    img {
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.maintain-modal {
  .maintain-modal-header {
    height: 158px;
    text-align: center;
    background-color: #d23131;
    position: relative;
    @include border-radius(5px 5px 0 0);

    img {
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}