@import 'radio-button';

$leftSideWidth: 404px;

.order-modal {
  .modal-content {
    max-width: 957px;

    .modal-body {
      background-color: #FFF;
      padding: 0;
    }
  }

  .step-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    width: 80%;
    margin: 0 auto;

    &.pickadate-opened .carousel-indicators:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10000;
      background-color: rgba(0,0,0,0.32);
      @include border-radius(25px);
      transition: background 0.15s ease-out;
    }

    .carousel-indicators {
      @include box-shadow(0px 5px 16px 0 rgba(0, 0, 0, 0.26));
      background: #606060;
      @include border-radius(25px);
      display: inline-block;
      text-align: center;
      margin: 0 auto;
      padding: 0;
      width: 600px;
      position: relative;
      left: auto;
      right: 0;
      bottom: auto;

      li {
        cursor: pointer;
        float: left;
        text-indent: 0;
        width: 33.333333%;
        height: auto;
        border: 0;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.1px;
        color: #ffffff;
        background-color: transparent;
        text-transform: uppercase;
        margin: 0;

        .step-wrapper {
          display: table;
          width: 100%;
          padding: 14px 0;

          > span {
            display: inline-block;
          }
        }

        &.active {
          .step-wrapper {
            padding: 4px;
            @include background-linear-gradient(#27dc94, #00ff9a);
            @include border-radius(25px);

            .step-number {
              background-color: #606060;
              @include border-radius(50%);
              padding: 5px;
              font-size: 20px;
              font-weight: 900;
              font-style: italic;
              color: #ffffff;
              float: left;
              width: 40px;
              height: 40px;
            }

            .step-dot {
              display: none;
            }

            .step-text {
              float: left;
              padding: 11px 30px 0;
            }
          }
        }

        &.step-nav-3.active {
          ~ .step-nav-1 {
            .step-wrapper {
              color: red;
            }
          }
        }
      }
    }
  }

  .carousel-inner {
    @include border-radius(5px);

    &.no-overflow {
      overflow: initial;
    }
  }

  .info-left {
    float: left;
    width: $leftSideWidth;
    @include border-radius(5px 0 0 5px);
    padding: 15px;

    &:before {
      content: '';
      width: $leftSideWidth;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #7490a4;
      @include border-radius(5px 0 0 5px);
      z-index: 0;
    }

    .header {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #ffffff;
    }
  }

  .info-right {
    margin-left: $leftSideWidth;

    .header {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #333333;
    }
  }

  .btn-submit {
    @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
    @include border-radius(25px);
    background-color: #27dc94 !important;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    padding: 12px 30px;

    &.disabled {
      background-color: #cecece;
    }
  }

  .btn-normal {
    @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
    @include border-radius(25px);
    background-color: #fff !important;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #333333 !important;
    text-transform: uppercase;
    border: 1px solid #989898;
    padding: 12px 30px;
    margin-right: 10px;
  }

  .item {
    @include transition(all 0.5s ease);
    height: 513px;
  }

  .step-1 {
    @include border-radius(5px);

    .step-1-wrapper {
      display: table;
      width: 100%;
      position: relative;
    }
    
    .map-container {
      height: 230px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include border-radius(5px 5px 0 0);
    }

    .step-1-info {
      padding: 0 20px;
      margin-top: 210px;
      position: relative;
      z-index: 1;
      background-color: #eaeaea;
      @include border-radius(0 0 5px 5px);

      &:before {
        content: '';
        width: 100%;
        height: 20px;
        position: absolute;
        z-index: 1;
        top: -20px;
        left: 0;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(234,234,234,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(234,234,234,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(234,234,234,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eaeaea',GradientType=0 );
      }

      .wrapper {
        @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.15));
        background-color: #FFF;
        @include border-radius(5px);
        display: table;
        width: 100%;
        position: relative;
        z-index: 2;
        top: -20px;

        .info-left {
          .store-info-section {
            border-bottom: 1px solid rgba(255,255,255,0.2);
            padding-bottom: 20px;
            margin-bottom: 20px;
            position: relative;

            .store-name {
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 0.5px;
              color: #ffffff;
              margin-bottom: 8px;
            }

            .store-address {
              font-size: 12px;
              letter-spacing: 0.4px;
              color: #ffffff;
            }
          }
          
          .delivery-time-section {
            border-bottom: 1px solid rgba(255,255,255,0.2);
            padding-bottom: 20px;
            margin-bottom: 20px;
            position: relative;

            .delivery-input {
              margin-top: 13px;

              input, select {
                background-color: #688193;
                padding: 8px 17px;
                border: 0;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.4px;
                color: #ffffff;
                height: 35px;
              }

              input.delivery-date {
                width: 130px;
                text-align: center;
                margin-right: 10px;
              }

              select.delivery-time {
                
              }
            }
          }

          .cost-section {
            position: relative;
            font-size: 14px;
            letter-spacing: 0.4px;
            color: #ffffff;

            .distance {
              margin-top: 12px;
            }
          }
        }

        .info-right {          
          .info-right-wrapper {
            padding: 15px;
          }

          .row:before, 
          .row:after {
            clear: none;
          }
          
          .form-group {
            margin-bottom: 28px;

            .help-block {
              margin-bottom: 0;
              margin-top: 0;

              &.with-errors {
                font-size: 13px;
                letter-spacing: 1.2px;
              }
            }
          }

          .form-inline {
            .form-group {
              margin-bottom: 0px;
            }
          }

          .form-control {
            width: 100%;
            height: auto;
            padding: 10px 0;
            border: 0;
            border-bottom: 1px solid #e6e6e6;
            font-size: 14px;
            letter-spacing: 0.4px;
            color: #333333;

            @include border-radius(0);
            @include box-shadow(0 0 0 transparent);
            @include placeholder(#999);
          }

          select.form-control:required:invalid {
            color: #999;
          }

          .chosen-container {
            width: 100% !important;

            .chosen-default,
            .chosen-single {
              width: 100%;
              height: auto;
              padding: 10px 0;
              border: 0;
              border-bottom: 1px solid #e6e6e6;
              font-size: 14px;
              letter-spacing: 0.4px;
              color: #333333;
              @include border-radius(0);
              @include box-shadow(0 0 0 transparent);
              line-height: normal;

              > span {
                font-size: 14px;
                letter-spacing: 0.4px;
                color: #333;
              }
            }

            .chosen-default {
              > span {
                color: #999;
              }
            }

            .chosen-drop {
              min-width: 150px;
            }

            .chosen-results {
              max-height: 100px;
            }
          }

          .form-select-address {

            .list-address {
              border-bottom: 1px solid #e6e6e6;
              padding-bottom: 5px;
              margin-bottom: 10px;
              position: relative;
              margin-top: 15px;
  
              &:after {
                content: '';
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 100%;
                height: 10px;
                background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
              }

              ul {
                list-style-type: none;
                max-height: 150px;
                overflow-y: auto;
                @include custom-scroll();

                li {
                  display: table;
                  width: 100%;
                  cursor: pointer;
                  margin-bottom: 10px;

                  .checkbox-wrapper {
                    float: left;
                    position: relative;
                    top: 10px;
                  }

                  .address-info {
                    margin-left: 32px;
                    background-color: #f3f3f7;
                    @include border-radius(5px);
                    padding: 12px 16px;
                    cursor: pointer;

                    label {
                      letter-spacing: 0.4px;
                      color: #333333;

                      .address-name {
                        display: block;
                        font-weight: 500;
                        font-size: 14px;
                      }

                      .address-phone {
                        font-size: 12px;
                        display: block;
                        font-weight: normal;
                      }
                    }

                    .address-action {
                      float: right;

                      a {
                        font-size: 12px;
                        letter-spacing: 0.4px;
                        color: #2392e8;
                      }
                    }
                  }
                }
              }
            }

            .form-action {
              margin-left: 50px;

              .a {
                font-size: 14px;
                letter-spacing: 0.4px;
                color: #2392e8;
              }
            }
          }

          .form-update-address {
            .is-update {
              display: none;
            }

            &.is-update {
              .is-update {
                display: inline-block;
              }

              .is-add-new {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .step-2 {
    background-color: #eaeaea;
    @include box-shadow(0px 2px 16px 0 rgba(0, 0, 0, 0.32));
    @include border-radius(5px);
    padding: 40px 20px 20px;

    .step-2-wrapper {
      background: #fff;
      @include border-radius(5px);
      @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.15));
      display: table;
      width: 100%;
      position: relative;
      
      .info-left {
        padding-top: 24px;
        position: static;

        .delivery-address-section {
          position: relative;
          color: #fff;
          border-bottom: 1px solid rgba(255,255,255,0.2);
          margin-bottom: 20px;
          padding-bottom: 20px;

          .header {
            margin-bottom: 15px;
          }
          
          .address-detail {
            background: rgba(0,0,0,0.1);
            @include border-radius(5px);
            padding: 12px 15px;

            .address-name {
              display: block;
              font-weight: 500;
              font-size: 14px;
              margin-bottom: 5px;
            }

            .address-phone {
              font-size: 12px;
              display: block;
              font-weight: normal;
              line-height: 1.9;
            }
          }
        }

        .payment-method-section {
          position: relative;

          .header {
            margin-bottom: 20px;
          }

          .payment-method-list {
            list-style-type: none;

            li {
              margin-bottom: 20px;
              cursor: pointer;

              input[type='radio'] {
                position: absolute;

                &:checked + span:before {
                  background-color: #FFF;
                }

                &:checked + span:after {
                  background: #7490a4;
                  border-color: #fff;
                  width: 8px;
                  height: 8px;
                  content: '';
                  position: absolute;
                  border-radius: 50%;
                  top: 5px;
                  left: 5px;
                }
              }

              span {
                position: relative;
                font-size: 14px;
                letter-spacing: 0.4px;
                color: #ffffff;
                font-weight: normal;

                &:before {
                  content: '';
                  margin-right: 15px;
                  display: inline-block;
                  vertical-align: text-top;
                  width: 18px;
                  height: 18px;
                  background: #7490a4;
                  border: 1px solid #fff;
                  @include border-radius(50%);
                }
              }
            }
          }
        }
      }

      .info-right {
        padding: 0;

        .header {
          padding: 24px 17px 0px;
        }

        .section {
          margin: 0 17px;

          &.section-scroll {
            margin-right: 0;
            padding-right: 10px;
            max-height: 133px;
            overflow-y: auto;
            @include custom-scroll();
          }

          .table {
            margin-bottom: 0;

            tr {
              &:first-child {
                td {
                  border: 0;
                }
              }
            }

            td {
              padding: 15px 0;
              font-size: 14px;
              letter-spacing: 0.4px;
              color: #333333;
              border-top: 1px solid #e8e8e8;

              &.pr {
                padding-right: 10px
              }

              .user-name {
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0.4px;
                color: #333333;
                margin-left: 10px;
              }

              .red {
                color: #d90b0b;
              }

              &.coupon-code {
                padding: 10px 0;

                span {
                  font-size: 12px;
                  font-weight: 300;
                  letter-spacing: 0.4px;
                  color: #333333;
                }

                input {
                  @include border-radius(25px);
                  font-size: 12px;
                  letter-spacing: 0.4px;
                  color: #333333;
                  font-weight: bold;
                  border: 1px solid rgba(36, 65, 89, 0.2);
                  text-align: center;
                  padding: 7px 7px 6px;
                  width: 115px;
                  outline: 0;
                  background-color: #FFF;
                  font-weight: bold;

                  &.is-empty{
                    border-color: #fffbe2;
                    background-color: #fffbe2;
                    font-weight: normal;
                  }
                }
              }
            }
          }
        }

        .separator {
          height: 11px;
          background-color: #e8e8e8;
        }

        .step-2-actions {
          margin-bottom: 15px;
        }
      }
    }
  }

  .step-3 {
    background-color: #eaeaea;
    @include box-shadow(0px 2px 16px 0 rgba(0, 0, 0, 0.32));
    @include border-radius(5px);
    padding: 40px 20px 20px;

    .step-3-wrapper {
      background: url('../img/done-bg.png') bottom center no-repeat #fff;
      height: 453px;
      text-align: center;
      @include border-radius(5px);
      @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.15));

      h2 {
        padding-top: 45px;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 1.5px;
        color: #333333;
      }

      .desc {
        width: 530px;
        font-size: 16px;
        letter-spacing: 0.8px;
        color: #333333;
        margin: 25px auto;
      }
    }
  }
}