/**
 * PgwSlider - Version 2.3
 *
 * Copyright 2014, Jonathan M. Piat
 * http://pgwjs.com - http://pagawa.com
 *
 * Released under the GNU GPLv3 license - http://opensource.org/licenses/gpl-3.0
 */

.pgwSlider {
  width: 100%;
  color: #fff;
  a {
    display: block;
    text-decoration: none;
    color: #fff;
  }
  .ps-current {
    float: left;
    width: 86%;
    overflow: hidden;
    height: inherit;
    position: relative;
    font-size: 1rem;
  }
  &.listOnTheLeft .ps-current {
    float: right;
  }
  .ps-current {
    ul {
      width: 100%;
    }
    li {
      width: 100%;
      z-index: 1;
      opacity: 0;
      display: none;
    }
    img {
      max-width: 100%;
      min-width: 100%;
      height: auto;
      display: block;
      transition: margin-top 250ms linear;
    }
  }
  .ps-caption {
    position: absolute;
    width: 100%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    left: 0;
    bottom: 0;
    display: none;
    z-index: 3;
  }
}

ul.pgwSlider, .pgwSlider ul {
  float: right;
  padding: 0;
  list-style: none;
  margin: 0;
}

ul.pgwSlider.listOnTheLeft, .pgwSlider.listOnTheLeft > .ps-list-container > ul {
  float: left;
}

ul.pgwSlider > li, .pgwSlider > .ps-list-container > .ps-list > li {
  height: 43px !important;
  margin-bottom: 6px;
  overflow: hidden;
  position: relative;
  opacity: 1 !important;
  filter: alpha(opacity = 60);
  font-size: 0.8rem;
  transition: opacity 200ms linear;
  width: 64px !important;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  &.active {
    opacity: 0.5 !important;

    &:before {
      border-color: #f5bb08;
    }
  }
}

ul.pgwSlider > li:last-child, .pgwSlider > .ps-list-container > ul > li:last-child {
  margin-bottom: 0;
}

ul.pgwSlider > li span, .pgwSlider > .ps-list-container > .ps-list > li span {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.pgwSlider > li:hover, .pgwSlider > .ps-list-container > ul > li:hover {
  opacity: 1 !important;
}

ul.pgwSlider > li img {
  width: 100%;
  min-height: 100%;
  display: block;
  transition: margin-top 250ms linear;
}

.pgwSlider {
  > ul > li img {
    width: 100%;
    min-height: 100%;
    display: block;
    transition: margin-top 250ms linear;
  }
  .ps-prevIcon {
    border-color: transparent #fff transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    display: block;
  }
  .ps-nextIcon {
    border-color: transparent #fff transparent;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    display: block;
  }
  .ps-current {
    .ps-prev {
      background: rgba(0, 0, 0, 0.5);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
      border: 1px solid #777;
      border-left: 0;
      border-radius: 0 4px 4px 0;
      position: absolute;
      padding: 20px 20px 20px 17px;
      left: 0;
      top: 45%;
      cursor: pointer;
    }
    .ps-next {
      background: rgba(0, 0, 0, 0.5);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
      border: 1px solid #777;
      border-right: 0;
      border-radius: 4px 0 0 4px;
      position: absolute;
      padding: 20px 17px 20px 20px;
      right: 0;
      top: 45%;
      cursor: pointer;
    }
  }
}

/*
 * The media-queries are not used because IE8 doesn't support them.
 */

ul.pgwSlider.wide > li {
  width: 100% !important;
}

.pgwSlider {
  &.wide > ul > li {
    width: 100% !important;
  }
  &.narrow .ps-current {
    margin-bottom: 6px;
    font-size: 0.8rem;
    img {
      width: 100%;
      min-height: inherit;
    }
    width: 100%;
  }
}

ul.pgwSlider.narrow, .pgwSlider.narrow > ul {
  width: 100%;
}

ul.pgwSlider.narrow > li, .pgwSlider.narrow > .ps-list > li {
  float: left;
  min-height: 50px;
  max-height: 70px;
  min-width: 15%;
  font-size: 0.7rem;
  margin-bottom: 0;

}

ul.pgwSlider.narrow.listOnTheLeft > li {
  float: right;
}

.pgwSlider.narrow {
  &.listOnTheLeft > ul > li {
    float: right;
  }
  .ps-caption {
    padding: 8px;
  }
  .ps-current {
    .ps-prev {
      padding: 15px 15px 15px 12px;
      top: 40%;
    }
    .ps-next {
      padding: 15px 12px 15px 15px;
      top: 40%;
    }
  }
}

.ps-list-container {
  float: left;
  overflow: hidden;
  height: 320px;
  width: 64px;
  position: relative;

  > ul {
    float: none !important;
  }

  > .ps-list-control + ul {
    padding: 40px 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  .ps-list-control {
    display: block !important;
    text-align: center;
    padding: 5px;
    background: #fff;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    width: 100%;
    left: 0;
    top: 0;

    &.ps-list-next {
      top: auto;
      bottom: 0;
    }

    span {
      color: #333;
      font-size: 20px;
      display: block;
      padding: 5px;
    }
  }
}