@import 'main';
@import 'product-list';

.product-list {
  margin-top: 25px;
}

.section-header {
  position: relative;
  z-index: 10;

  .sh-center {
    @include ver-hor-center();

    .sh-heading {
      font-size: 43px;
      font-weight: 300;
      letter-spacing: 2.3px;
      text-align: center;
      color: #ffffff;
      margin: 0;
      padding: 0;
    }

    .sh-search-box {
      background: #fff;
      @include border-radius(25px);
      position: relative;
      margin-top: 20px;

      input {
        border: 0;
        background-color: transparent;
        width: 100%;
        padding: 15px 30px;
        @include placeholder(#878787);
        outline: 0;
      }

      .sh-btn-search {
        @include vertical-center(absolute);
        right: 10px;
        background-color: transparent;
        border: 0;

        .icon-search {
          font-size: 23px;
          color: #b2b2b2;
        }
      }

      .search-suggestion {
        position: absolute;
        background-color: #FFF;
        @include border-radius(5px);
        @include box-shadow(0px 3px 10px 0 rgba(0, 0, 0, 0.1));
        top: 60px;
        overflow: hidden;
        z-index: 999;

        > a {
          display: block;
          padding-bottom: 15px;
          border-bottom: 1px solid #f1f1f1;
          padding: 15px;

          &:last-child {
            border-bottom: 0;
          }

          &:hover {
            background-color: #f1f1f1;
          }
        }

        h2 {
          font-size: 15px;
          line-height: 2.33;
          letter-spacing: 0.8px;
          color: #333333;
          font-weight: 400;
        }

        .product-address {
          font-size: 11px;
          font-weight: 300;
          letter-spacing: 0.6px;
          color: #969696;
        }

        .open-status {
          font-size: 15px;
          font-weight: 300;
          letter-spacing: 0.8px;
          color: #999999;

          &.active {
            color: #333;

            .open-status-icon {
              background-color: #27dc94;
            }
          }

          .open-status-icon {
            width: 8px;
            height: 8px;
            background-color: #e0e0e0;
            @include border-radius(50%);
            display: inline-block;
            margin-left: 5px;
          }
        }

        .seach-suggestion-more {
          background-color: #27dc94;
          @include box-shadow(0px 3px 10px 0 rgba(0, 0, 0, 0.1));
          padding: 15px;
          cursor: pointer;

          i {
            font-size: 23px;
            color: #fff;
            float: left;
          }

          span {
            font-size: 15px;
            letter-spacing: 0.8px;
            color: #ffffff;
            display: inline-block;
            margin-left: 15px;
          }
        }
      }
    }
  }
}

.section-butttons {
  margin: 55px 0;
  text-align: center;

  .button {
    padding: 12px 35px;
    text-transform: uppercase;
    color: #fff;
    @include box-shadow(0px 18px 27px 0 rgba(0, 0, 0, 0.09));
    margin: 0 6px;

    &.sb-btn-morning {
      background: #f5bb08;
      background: -moz-linear-gradient(top, #f5bb08 0%, #ffd24a 100%);
      background: -webkit-linear-gradient(top, #f5bb08 0%,#ffd24a 100%);
      background: linear-gradient(to bottom, #f5bb08 0%,#ffd24a 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5bb08', endColorstr='#ffd24a',GradientType=0 );
    }

    &.sb-btn-afternoon {
      background: #e40a0a;
      background: -moz-linear-gradient(top, #e40a0a 0%, #ff3a3a 100%);
      background: -webkit-linear-gradient(top, #e40a0a 0%,#ff3a3a 100%);
      background: linear-gradient(to bottom, #e40a0a 0%,#ff3a3a 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40a0a', endColorstr='#ff3a3a',GradientType=0 );
    }

    &.sb-btn-evening {
      background: #414141;
      background: -moz-linear-gradient(top, #414141 0%, #666666 100%);
      background: -webkit-linear-gradient(top, #414141 0%,#666666 100%);
      background: linear-gradient(to bottom, #414141 0%,#666666 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#666666',GradientType=0 );
    }

    &.sb-btn-package {
      background-color: #FFF;
      border: 1px solid #27dc94;
      color: #27dc94;
      @include border-radius(25px 0 25px 25px);

      .icon-package {
        margin-left: 10px;
      }
    }
  }
}

.s-header {
  padding-bottom: 20px;

  h2 {
    font-size: 32px;
    font-weight: 300;
    color: #363636;
  }

  .s-header-btn {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #27dc94;
    @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
    margin-left: 12px;
    border: 1px solid #27dc94;

    &.active,
    &:hover {
      background-color: #27dc94;
      color: #fff;
    }
  }
}

.owl-carousel {
  padding-bottom: 45px;
  z-index: 0;
  
  .owl-stage-outer {
    .owl-item {
      img {
        height: 391px;
        width: 260px;
      }

      h2 {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.4px;
        font-weight: 400;
        color: #333333;
        margin-top: 15px;
      }

      .product-address {
        margin-top: 15px;
        font-size: 12px;
        font-weight: 300;
        line-height: 2.08;
        letter-spacing: 0.6px;
        color: #969696;
        @include ellipsis();
      }
    }
  }

  .owl-nav {
    > div {
      background: rgba(25, 25, 25, 0.6);
      width: 40px;
      height: 40px;
      top: 33%;
      @include border-radius(50%);
      position: absolute;
      text-align: center;
    }

    .owl-prev {
      left: 15px;
    }

    .owl-next {
      right: 15px;
    }

    span {
      position: relative;
      top: 9px;
      font-size: 20px;
      color: #fff;
    }
  }

  .product-ribon {
    background: url('../img/sale-bg.png') 0 0 no-repeat;
    position: absolute;
    z-index: 2;
    right: 10px;
    height: 72px;
    width: 38px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 1.13;
    padding-top: 10px;
  }
}

.section-most-order {
  background-color: #e7fafb;
  padding: 35px 0;
}

.section-most-place {
  padding: 35px 0;
}

.s-footer {
  padding: 10px 0;
  text-align: center;

  .button-view-more {
    background-color: #7490a4;
    padding: 8px 35px;
    color: #fff;

    .button-text {
      padding-right: 5px;
    }

    .button-dot {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #ffffff;
      opacity: 0.3;
      @include border-radius(50%);
      position: relative;
      top: -3px;

      &+.button-dot {
        opacity: 0.7;

        &+.button-dot {
          opacity: 1;
        }
      }
    }
  }
}

.get-started {
  background: url('../img/home-footer-1.png') bottom left no-repeat #404040;
  padding: 35px 0;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 300;
    color: #ffffff;
  }

  .gs-wrapper {
    display: table;
  }

  .gs-icon {
    float: left;
    width: 125px;
    height: 125px;
    background: url('../img/home-footer-1-circle-bg.png') 0 0 no-repeat;
    font-size: 32px;
    text-align: center;
    position: relative;
    top: 15px;

    i {
      position: relative;
      top: 25px;
      color: #fff;
    }
  }

  .gs-step {
    height: 125px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: #fff;

    strong {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.11;
      letter-spacing: 0.2px;
      color: #ffffff;
      display: block;
    }

    span {
      display: block;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.43;
      letter-spacing: 0.1px;
      color: #ffffff;
    }
  }
}