@import 'profile-base';

.page-order-tracking {
  .content-wrapper {
    border: solid 1px #e2e2e2;
    @include border-radius(5px);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 15px;

    .form-horizontal {
      margin: 55px 0;

      .form-group {
        margin-bottom: 7px;
      }

      label.control-label {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
        color: #333333;
        padding-top: 10px;
      }

      .form-control {
        border: 1px solid #e2e2e2;
        background-color: #FFF;
        @include box-shadow(0 0 0 transparent);
        @include border-radius(5px);
        height: auto;
        padding: 10px 15px;
      }

      .help-block.error {
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 0.6px;
        color: #de0b0b;
        margin-left: 15px;
        margin-bottom: 0;
        min-height: 15px;
      }

      .captcha-img {
        position: relative;
        top: 5px;
      }

      .link {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
        color: #30a4e6;
        display: block;
        position: relative;
        top: 10px;
      }

      .btn-primary {
        background-color: #27dc94;
        @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
        @include border-radius(25px);
        padding: 10px 30px;
        border: 0;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.4px;
        color: #ffffff;
      }
    }
  }

  .empty-order {
    padding: 130px 0 160px;
    text-align: center;

    h2 {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.39;
      letter-spacing: 0.9px;
      color: #333;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.7px;
      color: #333333;
    }
  }
}