@import 'profile-base';

.page-info {
  .content-wrapper {
    border: solid 1px #e2e2e2;
    @include border-radius(5px);
    padding: 20px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    color: #333333;
    margin-bottom: 65px;

    h2 {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.8px;
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
    }

    img {
      margin: 50px auto;

      &.img-border {
        border: 1px solid #e2e2e2;
      }
    }
  }
}