@import 'profile-base';

.page-order-detail {
  .content-wrapper {
    padding: 20px 0 !important;
    margin-top: 0 !important;
    letter-spacing: 0.7px;
    color: #333333;


    .order-detail-header {
      background-color: #f8f8f8;
      font-size: 14px;
    }
    
    .rounded-section {
      padding: 11px 20px;
      border: solid 1px #e2e2e2;
      @include border-radius(5px);
      margin-bottom: 15px;
    }

    .header {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .progress-section {
      .progress-wrapper {
        display: table;
        margin: 0 auto;
        padding: 30px 0;

        .progress-item {
          float: left;
          margin-left: 100px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 11px;
            background-color: #f4f4f4;
            right: 100%;
            top: 18px;
            z-index: 0;
          }


          &:first-child {
            margin-left: 0;

            &:before,
            &:after {
              display: none;
            }
          }

          &.active {
            &:after {
              content: '';
              position: absolute;
              width: 65%;
              height: 3px;
              background-color: #27dc94;
              right: 100%;
              top: 22px;
              z-index: 1;
              margin-right: -7px;
            }

            .progress-item-wrapper {
              background-color: #27dc94;
            }
          }

          &.cancel {
            .progress-item-wrapper {
              background-color: #666666;
            }
          }

          .progress-item-wrapper {
            display: inline-block;
            @include border-radius(25px);
            background-color: #d5d5d5;
            padding: 10px 30px 10px 45px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.6px;
            color: #ffffff;
            position: relative;
            border: 5px solid #f4f4f4;
            z-index: 1;

            i {
              font-size: 20px;
              position: absolute;
              left: 15px;
              top: 8px;

              &.icon-check-circle {
                font-size: 17px;
                top: 10px;
              }
            }

            span {
              position: relative;
              z-index: 2;
            }
          }
        }
      }

      .progress-products {
        .table {
          margin-bottom: 0;

          td {
            border-top: 0;
          }

          img {
            width: 90px;
            height: 60px;
          }

          .btn-cancelled {
            border: solid 1px #d90b0b;
            background-color: #FFF;
            font-size: 12px;
            letter-spacing: 0.6px;
            color: #d90b0b;
            display: block;
            @include border-radius(25px);
            padding: 7px 20px;
            margin-top: 15px;
          }
        }
      }
    }

    .summary {
      font-size: 14px;
      letter-spacing: 0.4px;

      .custom-row {
        padding-bottom: 10px;
      }

      .small {
        margin-top: 10px;
      }

      .red {
        color: #d90b0b;
      }
    }

    .shipping-address {
      p {
        margin-bottom: 5px;
        font-size: 12px;
        letter-spacing: 0.4px;

        &.name {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .order-detail-footer {
      .link-remove {
        font-size: 14px;
        font-weight: 300;
        color: #d90b0b;
        display: inline-block;
        padding-top: 7px;
      }

      .btn-normal {
        padding: 10px 25px;
        font-size: 12px;
      }
    }
  }
}