@import 'profile-base';

.page-order-history {
  .content-wrapper {
    padding: 25px 0 !important;
    margin-top: 0 !important;

    .form-inline {
      .form-group {
        display: inline-block !important;
        width: auto !important;
        margin-right: 30px;
        margin-bottom: 15px !important;

        &:last-child {
          margin-right: 0;
        }

        label {
          margin-right: 5px;
        }

        .form-control {
          width: 150px;
        }
      }
    }
  }
}