@import 'main';

html, body {
  height: 100%;
}

.page-404 {
  height: 100%;
  width: 100%;
  display: table;

  .img-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}