footer {
  padding: 40px 0 0px 0;
  background-color: #404040;

  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.8px;
    color: #cccccc;
  }

  .f-content {
    padding-top: 15px;

    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.43;
      letter-spacing: 0.3px;
      color: #a2a2a2;
    }

    .news-letter-box {
      background-color: #FFF;
      @include border-radius(25px);
      display: inline-block;

      input {
        background-color: transparent;
        border: 0;
        padding: 10px 50px 10px 20px;
        outline: 0;
        @include placeholder(#878787);
      }

      .nl-submit {
        background-color: transparent;
        border: 0;
        padding: 10px 15px;
        outline: 0;

        .icon-check {
          color: #c1c1c1;
        }
      }
    }

    .app-link {
      a {
        display: inline-block;
        margin-bottom: 15px;
      }
    }

    .qr-code {
      a {
        display: inline-block;
        margin-left: 25px;
      }
    }
  }

  hr {
    border-color: #535353;
  }

  .office-address,
  .copyright {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.83;
    letter-spacing: 0.6px;
    color: #a2a2a2;
    margin-bottom: 5px;
  }

  .footer-util-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;

    li {
      display: inline-block;
      margin-left: 20px;

      a {
        color: #26D98D;
        font-weight: 500;
        letter-spacing: 0.6px;
        font-size: 14px;
      }
    }
  }
}