[class^="icon-png-"], [class*=" icon-png-"] {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
  float: left;
  position: relative;
}

.icon-png-facebook {
  background-image: url($baseUrl + '../img/icon-facebook.png');
}

.icon-png-google {
  background-image: url($baseUrl + '../img/icon-google.png');
}

.icon-png-email {
  background-image: url($baseUrl + '../img/icon-gmail.png');
}

.icon-png-phone {
  background-image: url($baseUrl + '../img/icon-phone.png');
}
.icon-png-owner {
  background-image: url($baseUrl + '../img/icon-owner.png');
}
