.add-address-modal {
  .modal-body {
    padding: 20px 25px;
  }

  .modal-content {
    width: 700px;
    background-color: #FFF;

    .modal-heading {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.8px;
      color: #444444;
    }

    .modal-content-wrapper {
      margin-top: 25px;

      .map-container {
        width: 100%;
        height: 197px;
        margin-top: 40px;
      }

      form {
        label {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.4px;
          color: #444444;
        }

        .form-control {
          @include border-radius(3px);
          border: 1px solid #e2e2e2;
          @include box-shadow(0 0 0 transparent); 

          font-size: 14px;
          font-weight: 300;
          letter-spacing: 0.4px;
          color: #333;
          @include placeholder(#999);
          padding: 9px 15px;
          height: auto;
        }

        .radio-default {
          span {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.3px;
            color: #444444;

            &:before {
              border-color: #dedede;
            }

            &:after {
              background-color: #909090;
            }
          }
        }

        .actions {
          .btn-submit {
            @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
            @include border-radius(25px);
            background-color: #27dc94 !important;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.7px;
            color: #ffffff;
            border: 0;
            padding: 10px 30px;
        
            &.disabled {
              background-color: #cecece;
            }
          }
        
          .btn-normal {
            @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
            @include border-radius(25px);
            background-color: #fff !important;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.7px;
            color: #333333;
            border: 1px solid #989898;
            padding: 10px 30px;
            margin-right: 10px;
          }
        
        }
      }
    }
  }
}