@import 'main';

$sidebarWidth: 240px;

.page-profile {
  .page-breadcrumb {
    padding: 15px 0;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #999999;
  }

  .page-wrapper {
    padding-bottom: 15px;

    .sidebar {
      background-color: #f2f2f2;
      width: $sidebarWidth;
      float: left;
      @include border-radius(5px 0px 0 5px);

      .nav-tabs {
        padding: 10px 0 10px 5px;
        border-bottom: 0;

        > li {
          display: block;
          float: none;
          margin: 0 0 5px 0;
          padding: 0px;
          @include border-radius(25px 0 0 25px);

          &:last-child {
            margin-bottom: 0;
          }

          &.active,
          &:hover {
            background-color: #fff;

            &:after {
              content: '';
              position: absolute;
              width: 10px;
              height: 100%;
              background-color: #FFF;
              top: 0;
              right: -10px;
            }
          }

          a {
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #333333;
            background-color: transparent;
            border: 0;
          }
        }
      }
    }

    
    h1.page-title {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.8px;
      color: #333333;
      text-transform: uppercase;
    }
    
    .page-content {
      margin-left: $sidebarWidth;
      padding-left: 15px;
      min-height: 450px;

      .content-wrapper {
        margin-top: 20px;
        padding: 20px 0;

        .form-group {
          margin-bottom: 20px;
          display: table;
          width: 100%;

          &:after {
            clear: none;
          }
        }

        .control-label {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.7px;
          color: #333333;
        }

        .form-control {
          @include box-shadow(0 0 0 transparent);
          border: solid 1px #e2e2e2;
          @include border-radius(5px);
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 0.7px;
          color: #333333;
        }

        .link {
          font-size: 14px;
          letter-spacing: 0.7px;
          color: #2c92e1;
        }

        .btn-primary {
            @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
            @include border-radius(25px);
            background-color: #27dc94;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.2px;
            color: #ffffff;
            border: 0;
            padding: 10px 24px;

            &.disabled {
              background-color: #cecece;
            }
          }
      }
    }

    .btn-normal {
      @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
      @include border-radius(25px);
      background-color: #fff;
      font-size: 14px;
      letter-spacing: 0.7px;
      color: #333333;
      border: 1px solid #989898;
      padding: 7px 35px;
    }
  }

  .custom-row {
    display: table;
    width: 100%;

    .column-3 {
      float: left;
      width: 33.3333%;
    }
  }
}    


.order-history-list {
  @include border-radius(5px);
  border: 1px solid #e2e2e2;
  overflow: hidden;

  .table {
    margin-bottom: 0;

    thead {
      th {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.7px;
        color: #333333;
        border: 0;
        background-color: #fafafa;
        padding: 13px;

        &.nowrap {
          white-space: nowrap;
        }
      }
    }

    tbody {
      tr {
        &:first-child {
          td {
            border: 0;
          }
        }
      }

      td {
        font-size: 13px;
        color: #333333;
        padding: 13px;

        .text-wrapper {
          min-height: 65px;
        }

        .action-wrapper {
          .link {
            color: #64a0dd;
            font-size: 13px;
          }
        }

        .red {
          color: #d90b0b;
        }
      }
    }
  }
}