.product-list {
  .row {
    margin-right: -17px;
    margin-left: -17px;
  }

  [class*="col-"] {
    padding-left: 17px;
    padding-right: 17px;
  }

  .product-item {
    margin-bottom: 30px;

    img {
      width: 260px;
      height: 178px;
    }
  }

  .product-name {
    font-size: 15px;
    line-height: 2.33;
    letter-spacing: 0.8px;
    color: #333333;
    @include ellipsis();
  }

  .product-address {
    @include ellipsis();
    font-size: 11px;
    font-weight: 300;
    line-height: 2.27;
    letter-spacing: 0.6px;
    color: #969696;
    display: block;
  }
}