@import 'profile-base';

.page-info {
  .content-wrapper {
    padding: 50px 0;

    .btn {
      @include border-radius(25px);
      background-color: #27dc94;
      border: 0;
      display: block;
      margin-bottom: 20px;
      padding: 7px 25px;
    }
  }
}