@import 'profile';

@import 'profile-base';

.page-profile {
  .page-wrapper {
    .page-content {
      .content-wrapper {
        &.profile-wrapper {
          padding: 50px 0;
        }
      }
    }
  }
}