@import 'main';
@import 'grid-custom';
@import 'product-list';
@import 'pgwslider';
@import 'modal-order';
@import 'pickadate.js';
// @import 'chosen';

.page-detail {
  .breadcrumbs {
    padding: 15px 0;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #999999;
  }

  .basic-info {
    .basic-info-name {
      font-size: 26px;
      color: #333333;
      font-weight: normal;
    }

    .store-info {
      margin-top: 15px;
      display: table;

      span {
        display: table-cell;

        &.store-name {
          background-color: #f4f4f4;
          @include border-radius(14px);
          padding: 8px 15px;
          font-size: 10px;
          letter-spacing: 1px;
          color: #666666;
          text-transform: uppercase;
        }

        &.store-address {
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0.6px;
          color: #969696;
          padding-left: 15px;
          @include ellipsis();
          max-width: 60%;
        }
      }
    }

    .store-review {
      text-align: center;
      display: inline-block;
      @include box-shadow(0px 5px 10px 0 rgba(0, 0, 0, 0.05));
      border: solid 1px #eaeaea;
      @include border-radius(5px);
      margin-top: 20px;
      padding: 10px 35px;
      height: 115px;

      .store-review-star {
        font-size: 45px;
        font-weight: 300;
        color: #666666;
      }

      .icon-star {
        color: #f5bb08;
        font-size: 37px;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.7px;
        color: #333333;
        margin: 10px 0 0;
      }
    }

    .store-working-time {
      display: inline-block;
      @include box-shadow(0px 5px 10px 0 rgba(0, 0, 0, 0.05));
      border: solid 1px #eaeaea;
      @include border-radius(5px);
      margin-top: 20px;
      padding: 10px 20px 10px 15px;
      height: 115px;
      vertical-align: top;
      margin-left: 20px;

      ul {
        list-style-type: none;

        li {
          line-height: 32px;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 0.7px;
          color: #333333;

          .icon {
            width: 25px;
            display: inline-block;
            position: relative;
            top: 2px;
            right: 3px;
            text-align: center;

            i {
              font-size: 17px;
              color: #a7a7a7;
            }

            .icon-status {
              width: 8px;
              height: 8px;
              background-color: #e0e0e0;
              @include border-radius(50%);
              display: inline-block;

              &.active {
                background-color: #27dc94;
              }
            }
          }
        }
      }
    }

    .sharing-tools {
      margin-top: 25px;
      min-height: 25px;
    }

    .store-utils {
      margin-top: 20px;

      .border-right {
        &:after {
          content: '';
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: #d3d3d3;
          top: 0;
          right: 25px;
        }
      }

      h3 {
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #333333;
        font-weight: normal;
        margin-bottom: 10px;
      }

      .util-content {
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #333333;
      }
    }
  }

  hr {
    border-top: 1px solid #dbdbdb;
    margin: 35px 0;
  }

  .product-info {
    .nav-tabs {
      border: 0;

      > li {
        @include border-radius(25px);
        margin-right: 15px;
        padding: 0px 25px;

        > a {
          border: 0;
          background-color: transparent;
          color: #666666;
        }

        &.active, 
        &:hover {
          background-color: #f2f2f2;

          > a {
            color: #333;
          }
        }
      }
    }

    .tab-content {
      margin-top: 25px;

      #menu {
        .menu-left {
          background-color: #7490a4;
          @include box-shadow(0px 5px 10px 0 rgba(0, 0, 0, 0.05));
          min-height: 300px;
          @include border-radius(5px 0 0 5px);

          #menu-tab-switcher {
            padding-left: 8px;

            > h3 {
              font-size: 18px;
              font-weight: 500;
              letter-spacing: 1.8px;
              color: #ffffff;
              text-transform: uppercase;
              padding: 15px;
            }

            .nav-tabs {
              > li {
                display: block;
                float: none;
                margin: 0 0 5px 0;
                padding: 0px;
                @include border-radius(25px 0 0 25px);

                &.active,
                &:hover {
                  background-color: #fff;

                  &:after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 100%;
                    background-color: #FFF;
                    top: 0;
                    right: -10px;
                  }

                  > a {
                    color: #7490a4;
                  }
                }

                a {
                  font-size: 12px;
                  letter-spacing: 0.6px;
                  color: #ffffff;
                }
              }
            }
          }
        }

        .menu-content {
          .voucher-code {
            display: table;
            width: 100%;
            background-color: #fffbe1;
            border: 1px dashed #d16868;
            @include border-radius(5px);
            padding: 15px;
            margin-bottom: 25px;

            .special-code {
              font-size: 18px;
              font-weight: 500;
              letter-spacing: 0.5px;
              color: #d90b0b;

              span {
                color: #333;
              }
            }

            .action-copy {
              font-size: 12px;
              letter-spacing: 0.4px;
              color: #333333;
            }
          }

          .menu-content-heading {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1.4px;
            color: #333333;
            margin-bottom: 15px;
            margin-top: 25px;
          }

          .menu-content-list {
            > .product-item {
              border-bottom: 1px solid #e8e8e8;
              margin-bottom: 15px;
              padding-bottom: 15px;

              .menu-images {
                img {
                  width: 77px;
                  height: 53px;
                }
              }

              &:last-child {
                border: 0;
                margin-bottom: 0;
                padding-bottom: 0;
              }
            }

            .product-name {
              font-size: 15px;
              letter-spacing: 0.8px;
              font-weight: normal;
              color: #333333;
            }

            .product-desc {
              font-size: 11px;
              font-weight: 300;
              letter-spacing: 0.6px;
              color: #969696;
              padding: 5px 0 3px;
            }

            .product-purchased {
              font-size: 12px;
              font-weight: 300;
              letter-spacing: 0.6px;
              color: #969696;
            }

            .column-right {
              display: inline-block;
              padding-top: 15px;
              outline: 0;

              .product-price {
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 0.8px;
                color: #d90b0b;
                display: inline-block;
                vertical-align: middle;
              }

              .button-add-cart {
                display: inline-block;
                width: 30px;
                height: 30px;
                background-color: #f5bb08 !important;
                @include border-radius(50%);
                vertical-align: middle;
                color: #fff;
                text-align: center;
                margin-left: 5px;

                &:active {
                  opacity: 0.5;
                }

                i {
                  position: relative;
                  top: 6px;
                }
              }
            }
          }
        }

        .menu-right {
          .cart {
            .cart-head {
              background-color: #646464;
              @include border-radius(5px 5px 0 0);
              display: table;
              width: 100%;

              .cart-head-left {
                float: left;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0.4px;
                color: #ffffff;
                padding: 15px 12px;
                cursor: pointer;
              }

              .cart-head-right {
                float: right;
                padding-right: 10px;

                .cart-head-group {
                  background-color: #4c4c4c;
                  @include border-radius(25px);
                  font-size: 12px;
                  font-weight: 500;
                  letter-spacing: 0.4px;
                  color: #ffffff;
                  display: inline-block;
                  padding: 8px 11px;
                  margin-top: 7px;
                  margin-right: 5px;
                }

                .cart-head-delete {
                  font-size: 12px;
                  font-weight: 300;
                  letter-spacing: 0.4px;
                  color: #d6d6d6;
                }
              }
            }

            .cart-body {
              border: solid 1px #e2e2e2;
              border-top: 0;
              @include border-radius(0 0 5px 5px);

              .scroll-wrapper {
                max-height: 250px;
                overflow-y: auto;
                &::-webkit-scrollbar-track {
                  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                  background-color: #ebebeb;
                  @include border-radius(5px);
                }
                &::-webkit-scrollbar {
                  width: 6px;
                  background-color: #ebebeb;
                  @include border-radius(5px);
                }
                &::-webkit-scrollbar-thumb {
                  background-color: #9a9a9a;
                  @include border-radius(5px);
                }
              }

              .user {
                display: table;
                width: 100%;
                padding: 10px;
                background-color: #FFF;

                .user-avatar {
                  width: 34px;
                  height: 34px;
                  @include border-radius(50%);
                  background-color: #efefef;
                  float: left;
                }

                .user-name {
                  float: left;
                  font-size: 14px;
                  letter-spacing: 0.4px;
                  color: #333333;
                  position: relative;
                  top: 6px;
                  left: 10px;
                }

                .user-quantity {
                  float: right;
                  font-size: 14px;
                  letter-spacing: 0.4px;
                  color: #333333;
                  position: relative;
                  top: 6px;
                }
              }

              .products {
                background-color: #fffbe1;
                @include box-shadow(0px 1px 0 0 #eaeaea);
                padding: 5px 15px;
                // max-height: 140px;
                // overflow-y: auto;

                .product-item {
                  border-bottom: 1px solid #ede8c4;
                  margin-bottom: 10px;

                  &:last-child {
                    margin-bottom: 0;
                    border-bottom: 0;
                  }

                  .product-row {
                    padding: 5px 0;
                    display: table;
                    width: 100%;

                    .product-name {
                      font-size: 14px;
                      letter-spacing: 0.4px;
                      color: #333333;
                      margin-left: 10px;
                      float: left;
                    }

                    .product-note {
                      float: left;

                      input {
                        background-color: transparent;
                        border: 0;
                        outline: 0;
                        font-size: 12px;
                        font-weight: 300;
                        letter-spacing: 0.4px;
                        color: #999999;
                      }
                    }

                    .product-price {
                      float: right;
                      font-size: 14px;
                      letter-spacing: 0.4px;
                      color: #333333;
                    }
                  }
                }
              }

              .cart-footer {
                padding: 10px 15px;
                background-color: #FFF;

                .cart-footer-row {
                  display: table;
                  width: 100%;
                  border-bottom: 1px solid #e8e8e8;
                  margin-bottom: 15px;
                  padding-bottom: 15px;

                  &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 0;
                  }

                  .help {
                    font-size: 12px;
                    font-weight: 300;
                    letter-spacing: 0.4px;
                    color: #999999;
                    margin-bottom: 0;
                  }

                  .pull-right {
                    b {
                      font-size: 15px;
                      font-weight: bold;
                      letter-spacing: 0.5px;
                      color: #333333;
                    }

                    span {
                      font-size: 15px;
                      letter-spacing: 0.5px;
                      color: #d90b0b;
                    }
                  }
                }

                .cart-button {
                  button {
                    background-color: #27dc94 !important;
                    @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
                    @include border-radius(25px);
                    display: block;
                    border: 0;
                    width: 100%;
                    text-transform: uppercase;
                    color: #fff;
                    padding: 10px;
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 1.4px;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  section.related {
    margin-top: 50px;

    h2.section-heading {
      font-size: 32px;
      font-weight: 300;
      text-align: left;
      color: #363636;
      margin-bottom: 15px;
    }

    .product-list {
      .product-name {
        line-height: 1;
        padding-top: 10px;

      }

      .product-item {
        img {
          width: 201px;
          height: 146px;
        }
      }
    }
  }
}

.product-quantity {
  float: left;
  display: table;
  position: relative;
  top: 2px;

  .quantity-button {
    width: 15px;
    height: 15px;
    background-color: #f5bb08;
    float: left;
    @include border-radius(50%);
    text-align: center;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }

    &.quantity-decrease {
      background-color: #7490a4;
    }

    i {
      color: #fff;
      font-size: 8px;
      position: relative;
      top: -4px;
      font-weight: bold;
    }
  }

  .quantity-text {
    float: left;
    padding: 0 5px;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #333333;
    line-height: normal;
  }
}
