@import 'profile-base';

.page-profile {
  .page-wrapper {
    .page-content {
      .content-wrapper {
        &.profile-wrapper {
          padding: 25px 0;
          margin-top: 0;
        }
      }
    }
  }
}

.page-profile-payment-method {
  .payment-method-name {
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #333333;
    margin-bottom: 15px;
  }

  .payment-method-list {
    border: 1px solid #e2e2e2;
    @include border-radius(5px);
    overflow: hidden;
    
    .table {
      margin-bottom: 0;

      td {
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #333333;
        border: 0;

      }

      thead {
        td {
          background-color: #fafafa;
          padding: 13px 20px;
        }
      }

      tbody {
        td {
          padding: 17px 20px;

          .link-remove {
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #d90b0b;
          }
        }
      }
    }
  }
}