@import 'profile';
@import 'profile-base';
@import 'radio-button';

@import 'modal-add-address';

.page-profile-address {
  .content-wrapper {
    padding: 25px 0 !important;
    margin-top: 0 !important;

    ul {
      list-style-type: none;

      li {
        margin-bottom: 20px;

        .radio-default {
          float: left;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0.7px;
          color: #333333;

          input[type='radio']:checked+span:after {
            background-color: #27dc94;
          }
        }

        .address-detail {
          margin-left: 28px;
          border: 1px solid #e2e2e2;
          padding: 15px 20px;
          @include border-radius(5px);
          display: table;
          width: 100%;
        }

        .address-name {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.4px;
          color: #333333;
          line-height: 1.67;
        }

        .address-phone {
          font-size: 12px;
          letter-spacing: 0.4px;
          color: #333333;
          line-height: 1.67;
        }
      }
    }
    
    .link {
      font-size: 14px;
      letter-spacing: 0.7px;

      &.link-edit {
        color: #64a0dd !important;
      }

      &.link-remove {
        color: #d90b0b !important;
        display: inline-block;
        margin-left: 15px;
      }
    }

    .actions {
      margin-left: 28px;
    }
  }
}