@import 'profile-base';

.page-profile {
  .page-wrapper {
    .page-content {
      .content-wrapper {
        &.profile-wrapper {
          border: 1px solid #e2e2e2;
          @include border-radius(5px);
          padding: 25px 0 50px;

          .form-horizontal {
            .icon-avatar {
              width: 80px;
              height: 80px;
              display: inline-block;
            }

            span.avatar-text {
              font-size: 14px;
              letter-spacing: 0.7px;
              color: #2c92e1;
              display: inline-block;
              margin-left: 15px;
            }

            .link-change-password {
              display: inline-block;
              padding-top: 12px;
            }
          }
        }
      }
    }
  }
}    