@import 'main';
@import 'product-list';

.page-search {
  .header {
    padding: 20px 0;

    .search-keyword {
      font-size: 18px;
      font-weight: 300;
      color: #363636;
      padding-top: 10px;
    }

    .search-result-count {
      font-size: 14px;
      letter-spacing: 0.4px;
      color: #333333;
      text-transform: uppercase;
      position: relative;
      top: 5px;
    }

    .select-place {
      margin-left: 20px;

      button {
        @include border-radius(25px);
        @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
        border: solid 1px rgba(39, 220, 148, 0.27);
        font-size: 14px;
        letter-spacing: 0.4px;
        color: #333333;
        padding: 10px 17px;

        .caret {
          margin-left: 20px;
        }
      }

      .dropdown-menu {
        min-width: 175px;
        @include box-shadow(0px 3px 7px 0 rgba(0, 0, 0, 0.2));

        > li {
          > a {
            padding: 10px 20px;

            &:hover {
              background-color: #f1f1f1;
            }

            &.active {
              color: #27dc94;
            }
          }
        }
      }
    }
  }

  .content {
    > .row {
      margin-right: -17px;
      margin-left: -17px;

      [class*="col-"] {
        padding-left: 17px;
        padding-right: 17px;
      }
    }
  }

  .pagination-wrapper {
    text-align: center;

    .pagination {
      margin: 0 0 50px 0;

      > li {
        > a {
          border: 0;
          width: 32px;
          height: 32px;
          margin: 0 10px;
          font-size: 16px;
          letter-spacing: 0.8px;
          color: #333333;
          @include border-radius(50%);
        }

        &.active {
          > a {
            background-color: #7490a4;
            opacity: 0.8;
            color: #fff;
          }
        }

        &.prev, &.next {
          > a {
            border: 1px solid #a1a1a1;
            padding: 6px;
          }
        }
      }
    }
  }

  .sidebar {
    background-color: #f7f7f7;
    @include border-radius(5px);

    .filter-block {
      padding-bottom: 15px;

      &:first-child {
        padding-top: 15px;
      }
    }

    .filter-header {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.6px;
      color: #363636;
      text-transform: uppercase;
      padding: 0 15px 15px;
    }

    .filter-list {
      ul {
        list-style-type: none;
        max-height: 200px;
        overflow-y: auto;
        @include custom-scroll();

        li {
          &.filter-sub-header {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.4px;
            color: #363636;
            text-transform: uppercase;
            padding: 5px 15px;
          }

          input[type='checkbox'] {
            position: absolute;
            opacity: 0;

            &:checked + span:before {
              background: #27dc94;
              border-color: #27dc94;
            }
            &:checked + span:after {
              content: '';
              position: absolute;
              left: 3px;
              top: 7px;
              background: white;
              width: 2px;
              height: 2px;
              box-shadow: 
                2px 0 0 white,
                4px 0 0 white,
                4px -2px 0 white,
                4px -4px 0 white,
                4px -6px 0 white,
                4px -8px 0 white;
              transform: rotate(45deg);
            }
          }

          span {
            position: relative;

            &:before {
              content: '';
              margin-right: 10px;
              display: inline-block;
              vertical-align: text-top;
              width: 16px;
              height: 16px;
              background: white;
              border: 1px solid #d7d7d7;
              @include border-radius(3px);
            }
          }

          label {
            padding: 7px 15px;
            text-transform: none;
            font-size: 14px;
            letter-spacing: 0.3px;
            color: #333333;
            font-weight: normal;
            display: block;
            position: relative;
            cursor: pointer;

            &:hover {
              background-color: #f2f2f2;
            }
          }
        }
      }
    }

    hr {
      margin: 0 15px 15px;
      border-color: #e1e1e1;
    }
  }

  .search-empty {
    text-align: center;
    border-top: 1px solid #e4e4e4;
    padding: 120px 0;

    p {
      font-size: 24px;
      font-weight: 300;
      color: #666666;
      margin-top: 40px;
    }
  }
}