body {
  > footer {
    background-color: #404040;
    padding: 20px 10px;

    .link-utils {
      a {
        display: block;
        @include border-radius(25px);
        background-color: #303030;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #26d98d;
      }
    }

    .f-heading {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.8px;
      color: #cccccc;
      margin: 0 0 15px;
      padding: 0;
    }

    .subscribe {
      padding-top: 25px;

      .f-heading {
        margin-bottom: 7px;
      }

      p {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.2px;
        color: #a2a2a2;
      }

      .input-wrapper {
        @include border-radius(25px);
        background-color: #FFF;
        position: relative;

        input {
          background-color: transparent;
          border: 0;
          width: 100%;
          padding: 10px 15px;
          font-size: 14.3px;
          font-weight: 300;
          color: #a8a8a8;
          outline: 0;
        }

        a {
          position: absolute;
          color: #c1c1c1;
          right: 15px;
          top: 11px;
        }
      }
    }

    .appstore {
      margin-top: 28px;
    }

    .fb-fanpage {
      margin-top: 25px;
    }

    hr {
      border-color: #6d6d6d;
      margin: 30px 0 15px;
    }

    .f-info {
      font-size: 12px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.6px;
      text-align: center;
      color: #a2a2a2;
      padding: 0 20px;
    }
  }
}