.form-group {
  .form-control {
    margin-bottom: 5px;
  }

  .help-block.with-errors {
    font-size: 11px;
  }
}

select.form-control {
  padding-left: 5px;
  padding-right: 5px;
}

.form-control {
  @include box-shadow(0px 0px 0px 0 transparent);
  border: 1px solid #e5e5e5;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #333;
  padding: 6px 15px;
  margin-bottom: 15px;
  height: auto;
  @include border-radius(5px);
  @include placeholder(#999);

  &.shadow {
    @include box-shadow(0px 1px 3px 0 rgba(0, 0, 0, 0.09));
  }

  &.rounded {
    padding: 10px 20px;
    @include border-radius(25px);
  }
  
  &:focus {
    @include box-shadow(0px 1px 3px 0 rgba(0, 0, 0, 0.09));
    border-color: #e5e5e5;
  }

  &.input-line-bottom {
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    @include border-radius(0px);
    padding-left: 0;
    padding-right: 0;
    @include box-shadow(0px 0px 0px 0 transparent !important);
  }
}

.control-label {
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #333333;
  font-weight: normal;
}