.modal-share {
  .share-help {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .input-link {
    position: relative;

    .share-link {
      background-color: #e3e3e3;
      border: 0;
      padding: 11px;
      width: 100%;
      @include border-radius(3px);
      outline: 0;
    }

    span {
      display: inline-block;
      position: absolute;
      top: 8px;
      right: 8px;
      background: #fff;
      padding: 6px;
      border-radius: 5px;
      font-size: 11px;

      i {
        font-size: 9px;
        color: #27dc94;
      }
    }
  }

  .share-action {
    margin-top: 15px;

    span {
      display: inline-block;
      margin-right: 10px;
    }

    a {
      display: inline-block;
      margin-right: 5px;
    }
  }
}