.modal-search {
  .search-box {
    @include border-radius(25px);
    background-color: #FFF;
    position: relative;
    border: solid 1px #e1e1e1;

    input {
      background-color: transparent;
      border: 0;
      outline: 0;
      width: 100%;
      padding: 8px 50px 8px 15px;
      font-size: 13.7px;
      font-weight: 300;
      letter-spacing: 0.7px;
      color: #878787;
    }

    button {
      position: absolute;
      right: 0px;
      top: 0px;
      background-color: transparent;
      border: 0;
      height: 100%;
      color: #b2b2b2;
      padding: 0 15px;

      i {
        font-size: 15px;
      }
    }
  }

  .search-placeholder {
    text-align: center;
    @include vertical-center();
    margin-top: -56px;

    .icon-search-light {
      font-size: 83px;
      color: #dbdbdb;
      font-weight: bold;
    }

    h4 {
      font-size: 14.3px;
      font-weight: 300;
      color: #666666;
    }
  }

  .search-result {
    height: calc(100% - 46px);

    .row-filter {
      margin: 10px 0 15px;

      .search-total {
        font-size: 11.8px;
        letter-spacing: 0.4px;
        color: #333333;
        text-transform: uppercase;
        display: block;
        padding-top: 7px;
      }

      .btn-group {
        button {
          border: solid 1px rgba(39, 220, 148, 0.27);
          background-color: #FFF;
          font-size: 11.8px;
          letter-spacing: 0.4px;
          color: #333333;
        }
      }
    }

    .row-products {
      max-height: calc(100vh - 208px);
      overflow-y: auto;
      overflow-x: hidden;

      .product-item {
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #dbdbdb;

        h2 {
          font-size: 15px;
          color: #333333;
          margin: 0;
          padding: 0;
          font-weight: normal;
        }

        p {
          font-size: 11px;
          font-weight: 300;
          color: #969696;
          @include ellipsis();
          margin: 5px 0 8px;
        }

        .store-status {
          font-size: 10.9px;
          font-weight: 300;
          letter-spacing: 0.5px;
          color: #999999;
          position: relative;
          padding-left: 10px;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 4px;
            width: 6px;
            height: 6px;
            background-color: #e0e0e0;
            @include border-radius(50%);
          }

          &.active {
            color: #333333;

            &:before {
              background-color: #27dc94;
            }
          }
        }
      }
    }

    .row-footer {
      margin-top: 10px;
      padding-bottom: 10px;

      .btn {
        background-color: #27dc94;
        text-align: left;
        font-size: 14px;
        font-weight: 300;
        color: #ffffff;
        padding: 10px 15px;
        
        i {
          font-size: 16px;
          position: relative;
          top: 2px;
        }

        span {
          display: inline-block;
          margin-left: 6px;
        }
      }
    }

    .search-empty {
      text-align: center;
      @include vertical-center();
      margin-top: -130px;

      img {
        height: 104px;
        width: 104px;
      }

      h4 {
        font-size: 14.3px;
        font-weight: 300;
        color: #666666;
        margin: 15px 0 0;
      }
    }
  }
}