.modal-payment-guide {
  font-weight: 300;
  letter-spacing: 0.4px;

  h2 {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    line-height: 1.38;
  }

  img {
    margin: 18px auto;

    &.img-border {
      border: 1px solid #e2e2e2;
    }
  }
}