@import 'radio-button';

.modal-address-list {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li.address-item {
      margin-bottom: 20px;

      .radio-default {
        float: left;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.7px;
        color: #333333;

        input[type='radio']:checked+span:after {
          background-color: #27dc94;
        }
      }

      .address-item-info {
        label {
          margin-bottom: 10px;
          position: relative;
          top: 1px;
        }

        .address-item-detail {
          border: 1px solid #e2e2e2;
          padding: 10px;
          @include border-radius(5px);
        }

        .address-item-name {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.4px;
          color: #333333;
          line-height: 1.67;
        }

        .address-item-phone {
          font-size: 12px;
          letter-spacing: 0.4px;
          color: #333333;
          line-height: 1.67;
        }

        .address-item-action {
          text-align: right;
        }
      }

      .link {
        font-size: 14px;
        letter-spacing: 0.7px;

        &.link-edit {
          color: #64a0dd !important;
        }

        &.link-remove {
          color: #d90b0b !important;
          display: inline-block;
          margin-left: 15px;
        }
      }

      .actions {
        margin-left: 28px;
      }
    }
  }
}