.modal-add-address {
  .modal-dialog {
    .modal-content {
      .modal-header {
        background-color: #646464;
      }

      .modal-body {
        .form-control {
          font-size: 14px;
          letter-spacing: 0.4px;
          font-weight: normal;
        }
      }
    }
  }
}