.modal-forgot-password {
  .form-icon {
    padding-top: 13px;
  }

  .help-block.with-errors {
    margin-left: 20px;
  }

  .text-help {
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #666666;
    padding: 13px 30px 34px;
  }
}