.modal-payment-method {
  .payment-item {
    border: solid 1px #e2e2e2;
    @include border-radius(5px);
    padding: 10px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .table {
      margin-bottom: 0;

      td {
        padding-left: 0;
        padding-right: 0;
        border: 0;
      }

      thead {
        td {
          font-size: 12px;
          letter-spacing: 0.6px;
          text-align: left;
          color: #666666;
          padding: 2px 0 0;
        }
      }

      tbody {
        td {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.8px;
          color: #333333;
          padding: 16px 0 14px;
          vertical-align: middle;
        }
      }

      tfoot {
        td {
          border-top: 1px solid #ececec;
          padding: 0;

          .btn {
            padding: 5px 0 0;
            font-size: 14px;
            letter-spacing: 0.7px;
            color: #d90b0b;
          }
        }
      }
    }
  }
}