.modal-order-tracking {
  .link {
    margin-bottom: 15px;
    
    a {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.7px;
      color: #30a4e6;
    }
  }

  .result {
    margin-top: 45px;
    margin-bottom: 30px;

    &.empty {
      text-align: center;
      color: #333333;

      h5 {
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: 0.8px;
        font-weight: normal;
        margin: 20px 45px 10px;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.79;
        letter-spacing: 0.7px;
        margin-bottom: 0;
      }
    }
  }
}

@import 'order-list';