.order-list {
  margin-bottom: 0px;

  .order-item {
    @include border-radius(5px);
    border: 1px solid #e2e2e2;
    background-color: #f8f8f8;
    padding: 15px 10px;
    font-size: 14px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .order-item-row {
      margin-bottom: 15px;

      p {
        margin-bottom: 5px;
      }
    }

    .text-gray {
      color: #666666;
    }

    .text-red {
      color: #d90b0b;
    }

    .text-blue {
      color: #64a0dd;
    }
  }
}