.product-list {
  .product-item {
    margin-bottom: 20px;

    h2 {
      margin: 9px 0 3px;
      padding: 0;
      font-size: 13.4px;
      line-height: 1.33;
      letter-spacing: 0.3px;

      a {
        color: #333333;
      }
    }

    p {
      @include ellipsis();
      font-size: 9.7px;
      font-weight: 300;
      letter-spacing: 0.5px;
      color: #969696;
    }
  }
}