.radio-default {
  input[type='radio'] {
    position: absolute;
    display: none;

    &:checked + span:after {
      background: #7490a4;
      border-color: #27dc94;
      width: 8px;
      height: 8px;
      content: '';
      position: absolute;
      border-radius: 50%;
      top: 5px;
      left: 5px;
    }
  }

  span {
    position: relative;

    &:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 18px;
      height: 18px;
      background: white;
      border: 1px solid #27dc94;
      @include border-radius(50%);
    }
  }
}