@import 'main';

.image-slider {
  .owl-nav {
    display: none;
  }

  .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;

    .owl-dot {
      margin: 0 3px;
      display: inline-block;

      span {
        width: 9px;
        height: 9px;
        background-color: rgba(0,0,0,0.2);
        @include border-radius(50%);
        display: inline-block;
      }

      &.active {
        span {
          background-color: #FFF;
        }
      }
    }
  }
}

.store-info {
  padding: 10px;

  h1 {
    font-size: 15.7px;
    text-align: left;
    color: #333333;
    margin: 5px 0 0;
    padding: 0;
    font-weight: normal;
  }

  p {
    font-size: 10.7px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: left;
    color: #969696;
    @include ellipsis();
    margin: 5px 0 0;
  }
}

.review-working-time {
  padding: 3px 10px 0;
  margin-bottom: 20px;

  .review {
    float: left;
    width: calc(45% - 5px);
    margin-right: 5px;
    border: solid 1px #d5d5d5;
    @include border-radius(5px);
    text-align: center;
    padding: 9px 0 10px;

    .store-review-star {
      font-size: 36px;
      font-weight: 300;
      color: #666666;
    }

    .icon-star {
      color: #f5bb08;
      font-size: 30px;
    }

    p {
      font-size: 11.2px;
      font-weight: 300;
      letter-spacing: 0.6px;
      color: #333333;
      margin: 10px 0 0;
    }
  }

  .working-time {
    float: left;
    width: calc(55% - 5px);
    margin-left: 5px;
    border: solid 1px #d5d5d5;
    @include border-radius(5px);

    ul {
      list-style-type: none;
      padding: 10px 15px;
      margin-bottom: 0;

      li {
        line-height: 25px;
        font-size: 11.2px;
        font-weight: 300;
        letter-spacing: 0.6px;
        color: #333333;

        .icon {
          width: 20px;
          display: inline-block;
          position: relative;
          top: 2px;
          right: 3px;
          text-align: center;

          i {
            font-size: 14px;
            color: #a7a7a7;
          }

          .icon-status {
            width: 8px;
            height: 8px;
            background-color: #e0e0e0;
            @include border-radius(50%);
            display: inline-block;

            &.active {
              background-color: #27dc94;
            }
          }
        }
      }
    }
  }
}

.payment-shipping-info {
  padding: 0 10px;

  .custom-row {
    .column-payment {
      display: table-cell;
      vertical-align: top;
      width: 30%;

      img {
        width: 20px;
      }
    }

    .column-separator {
      display: table-cell;
      vertical-align: top;
      width: 5%;
      position: relative;

      &:before {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        background-color: #d3d3d3;
        left: 0;
        top: 0;
      }
    }

    .column-shipping {
      display: table-cell;
      vertical-align: top;
      width: 30%;
    }

    .column-shipper {
      display: table-cell;
      vertical-align: top;
      width: 25%;
    }
  }

  h3 {
    font-size: 9.9px;
    letter-spacing: 0.5px;
    color: #999999;
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  .payment {
    img {
      width: 17px;
    }
  }

  .img-shipper {
    height: 15px;
  }
}

.coupon-code {
  margin: 17px 10px 12px;
  background-color: #fffbe1;
  border: dashed 1px #d16868;
  @include border-radius(5px);
  font-size: 13.9px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #333333;
  padding: 8px 10px;
  
  .red {
    color: #d90b0b;
  }
}

.menu {
  .menu-content-heading {
    background-color: #f3f3f3;
    font-size: 11px;
    font-weight: 500;
    color: #666666;
    text-transform: uppercase;
    padding: 8px 10px;
    margin: 0;
  }

  .menu-content-list {
    padding: 10px;

    .product-item {
      display: table;
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 9px;
      border-bottom: 1px solid #dbdbdb;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }

      .product-img {
        display: table-cell;
        vertical-align: top;
        width: 90px;
        padding-right: 10px;
      }

      .product-info {
        display: table-cell;
        vertical-align: middle;

        .product-name {
          font-size: 14px;
          letter-spacing: 0.7px;
          color: #333333;
          margin: 0;
          padding: 0;
        }

        .product-desc {
          font-size: 11px;
          font-weight: 300;
          letter-spacing: 0.6px;
          color: #969696;
          margin: 3px 0 5px;
        }

        .product-price {
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0.7px;
          color: #d90b0b;
        }
      }

      .product-actions {
        display: table-cell;
        vertical-align: middle;
        text-align: right;

        .btn-add-cart {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-color: #f5bb08;
          @include border-radius(50%);
          vertical-align: middle;
          color: #fff;
          text-align: center;
          margin-left: 5px;

          i {
            position: relative;
            top: 6px;
          }
        }
      }
    }
  }
}
