@import 'main';
@import 'product-list';

main {
  section {
    padding: 10px;

    .section-header {
      font-size: 19.8px;
      color: #363636;
      margin: 0;
      padding: 0;
      font-weight: normal;
    }
  }

  .banner {
    background: url('../../img/m-home-header.jpg') 0 0 no-repeat;
    background-size: cover;
    height: 200px;
    padding: 0;

    .city-selection {
      button {
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        display: block;
        border: 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.2px;
        padding: 6px;
        outline: 0;

        .caret {
          border-width: 5px;
          margin-left: 5px;
        }
      }
    }

    h1 {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.8px;
      text-align: center;
      color: #ffffff;
      margin: 40px 0 0;
      padding: 0;

      b {
        font-weight: bold;
      }
    }

    .search-box {
      @include border-radius(25px);
      background-color: #FFF;
      margin: 10px 25px;
      position: relative;

      input {
        background-color: transparent;
        border: 0;
        outline: 0;
        width: 100%;
        padding: 8px 50px 8px 15px;
        font-size: 13.7px;
        font-weight: 300;
        letter-spacing: 0.7px;
        color: #878787;
      }

      button {
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: transparent;
        border: 0;
        height: 100%;
        color: #b2b2b2;
        padding: 0 15px;

        i {
          font-size: 15px;
        }
      }
    }
  }

  .slider {
    .btn {
      color: #fff;
      text-transform: uppercase;
      font-size: 11.1px;
      font-weight: bold;
      letter-spacing: 0.6px;
      color: #ffffff;
      padding: 9px;
      @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));

      &.btn-yellow {
        background: #ffd24a;
        background: -moz-linear-gradient(left, #ffd24a 0%, #f5bb08 100%);
        background: -webkit-linear-gradient(left, #ffd24a 0%,#f5bb08 100%);
        background: linear-gradient(to right, #ffd24a 0%,#f5bb08 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd24a', endColorstr='#f5bb08',GradientType=1 );
      }

      &.btn-red {
        background: #ff3a3a;
        background: -moz-linear-gradient(left, #ff3a3a 0%, #e40a0a 100%);
        background: -webkit-linear-gradient(left, #ff3a3a 0%,#e40a0a 100%);
        background: linear-gradient(to right, #ff3a3a 0%,#e40a0a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3a3a', endColorstr='#e40a0a',GradientType=1 );
      }

      &.btn-gray {
        background: #666666;
        background: -moz-linear-gradient(left, #666666 0%, #414141 100%);
        background: -webkit-linear-gradient(left, #666666 0%,#414141 100%);
        background: linear-gradient(to right, #666666 0%,#414141 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#414141',GradientType=1 );
      }

      &.btn-package {
        margin-top: 10px;
        @include border-radius(25px 0 25px 25px);
        @include box-shadow(0px 2px 2px 0 rgba(0, 0, 0, 0.09));
        background-color: transparent;
        border: solid 1px #27dc94;
        color: #27dc94;
        padding-left: 15px;
        padding-right: 15px;

        i {
          float: right;
          font-size: 15px;
        }
      }
    }

    .owl-carousel {
      margin: 20px 0 10px;
      z-index: 0;
      
      .owl-stage-outer {
        .owl-item {

          h2 {
            font-size: 13.4px;
            line-height: 1.33;
            letter-spacing: 0.3px;
            font-weight: 400;
            color: #333333;
            margin-top: 15px;
            margin-bottom: 0;
          }

          .product-address {
            margin-top: 8px;
            font-size: 9.7px;
            font-weight: 300;
            letter-spacing: 0.5px;
            color: #969696;
            @include ellipsis();
          }
        }
      }

      .owl-nav {
        > div {
          background: rgba(25, 25, 25, 0.6);
          width: 40px;
          height: 40px;
          top: 33%;
          @include border-radius(50%);
          position: absolute;
          text-align: center;
        }

        .owl-prev {
          left: 15px;
        }

        .owl-next {
          right: 15px;
        }

        span {
          position: relative;
          top: 9px;
          font-size: 20px;
          color: #fff;
        }
      }

      .product-ribon {
        background: url('../../img/sale-bg.png') 0 0 no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 2;
        right: 5px;
        height: 44px;
        width: 24px;
        font-size: 15px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        line-height: 1.13;
        padding-top: 5px;
      }
    }
  }

  .most-order {
    background-color: #e7fafb;
    padding-top: 18px;

    .row-buttons {
      margin-top: 12px;
      margin-bottom: 15px;
    }

    .btn.btn-filter {
      font-size: 10.3px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #27dc94;
      background-color: transparent;
      border: solid 1px #27dc94;
      @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
      padding: 6px;

      &.btn-all {
        background-color: #27dc94;
        color: #fff;
      }
    }

    .product-list {
      margin-top: 15px;
    }

    .btn-view-more {
      margin-bottom: 12px;
    }
  }

  .most-place {
    background-color: #FFF;
  }

  .step-2-become {
    background: url('../../img/m-step-bg.png') bottom left repeat-x #404040;
    color: #fff;
    padding: 25px 2px;

    .section-header {
      color: #fff;
      margin-bottom: 20px;
      padding: 0 10px;
    }

    .custom-row {
      margin-top: 10px;
    }

    .icon {
      float: left;
      width: 69px;
      height: 60px;
      background: url('../../img/home-footer-1-circle-bg.png') 0 0 no-repeat;
      background-size: cover;
      font-size: 22px;
      text-align: center;
      position: relative;
      top: 0px;

      i {
        position: relative;
        top: 12px;
        color: #fff;

        &.icon-check {
          font-size: 15px;
          top: 8px;
        }
      }
    }

    .info {
      padding-top: 6px;
      padding-right: 20px;

      h3 {
        font-size: 15.5px;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: #ffffff;
        margin: 0;
        padding: 0;
      }

      p {
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 12.1px;
        font-weight: 300;
        letter-spacing: 0.1px;
        color: #ffffff;
      }
    }
  }
}