button.no-shadow,
button.no-shadow:active {
  @include box-shadow(0 0 0 transparent !important);
}

button {
  &:focus {
    outline: 0 !important;
  }

  &:active {
    opacity: 0.5;
    outline: 0 !important;

    &:focus {
      outline: 0 !important;
    }
  }
}

.btn {
  border: 0;
  outline: 0;

  &:active {
    opacity: 0.5;
    @include box-shadow(0 0 0 transparent);
  }
  
  &.rounded {
    @include border-radius(25px);
  }

  &.btn-view-more {
    background-color: #7490a4;
    padding: 6px 15px 8px;
    color: #fff;
    line-height: normal;

    .button-text {
      font-size: 8.8px;
      font-weight: bold;
      letter-spacing: 1.8px;
      text-transform: uppercase;
    }

    .button-dot {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #ffffff;
      opacity: 0.3;
      @include border-radius(50%);
      position: relative;
      top: -1px;

      &+.button-dot {
        opacity: 0.7;

        &+.button-dot {
          opacity: 1;
        }
      }
    }
  }

  &:hover {
    color: #fff;
  }

  &.btn-transparent {
    background-color: transparent;
    border: 0;
    @include box-shadow(0 0 0 transparent);
  }
}

.btn-green {
  border: 0;
  background: #27dc94;
  @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
  @include border-radius(25px);
  padding: 12px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #ffffff;

  &.disabled {
    background-color: #cccccc;
    color: #fff;
  }
}

.btn-small {
  padding: 8px 0 !important;
  font-size: 12px !important;
}

.btn-normal {
  text-transform: none !important;
  font-weight: 500;
}

.btn-other {
  border: solid 1px #989898;
  background: #fff;
  @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
  padding: 12px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #333333 !important;
}