body {
  header {
    height: 46px;
    background-color: rgba(39, 220, 148, 0.9);
    @include box-shadow(0px 2px 9px 0 rgba(0, 0, 0, 0.1));
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    padding: 0 10px;

    .logo {
      width: 97px;
      height: 18px;
      margin-top: 14px;
    }

    a, a:focus, a:hover {
      text-decoration: none;
    }

    .search-icon {
      padding: 15px 10px 7px;
      float: left;

      .icon-search-light {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
      }
    }

    .cart-header {
      position: relative;
      float: left;
      padding: 11px 5px 8px;

      .icon-bag {
        color: #fff;
        font-size: 23px;
      }

      .cart-header-badge {
        background-color: #f7c11e;
        display: inline-block;
        padding: 0 5px;
        @include border-radius(15px);
        position: absolute;
        top: 5px;
        right: -5px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.2px;
        color: #ffffff;
      }
    }

    .btn-group-profile {
      float: left;
      margin-left: 15px;
      padding: 9px 0 8px;
      position: relative;

      button {
        background-color: transparent;
        border: 0;
        padding: 0;
      }
    }

    .logged {
      display: table;
    }
    
    .not-logged {
      padding: 10px 0;
      display: inline-block;

      .button-login {
        background-color: rgba(0,0,0,0.1);
        @include border-radius(25px);
        border: 0;
        font-size: 10.9px;
        font-weight: 500;
        letter-spacing: 1.1px;
        color: #ffffff;
        padding: 6px 15px;
        outline: 0;
      }
    }
  }
}