$baseUrl: '../';

@import "../../scss/mixin";
@import "../../scss/font";
@import "../../scss/icon-svg";
@import "../../scss/icon-png";

@import 'button';
@import 'header';
@import 'footer';
@import 'modal';

body {
  font-family: 'Roboto' !important;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  div, p, h1, h2, h3, h4, h5, button, a, b, strong, ul, li {
    font-family: 'Roboto' !important;
  }
}

a {
  text-decoration: none !important;

  &:active {
    opacity: 0.5;
  }
}

.img-3x2 {
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 66.66667%;
  background-size: cover;
  -moz-background-size: cover;
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative;
}

.custom-row {
  display: table;
  width: 100%;

  .column-3 {
    float: left;
    width: 33.3333%;
  }

  .column-2 {
    float: left;
    width: 50%;
  }
}

.row.row-small-space {
  margin-right: -5px !important;
  margin-left: -5px !important;

  [class*="col-"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

main {
  margin-top: 46px;
  min-height: 200px;
}

.dropdown-menu {
  @include box-shadow(0px 3px 7px 0 rgba(0, 0, 0, 0.2));

  > li {
    > a {
      padding: 10px 20px;

      &:hover {
        background-color: #f1f1f1;
      }

      &.active {
        color: #27dc94;
      }
    }
  }
}