@import 'modal-search';

.modal {
  z-index: 9999;
  background-color: #FFF;

  &.fade .modal-dialog {
    @include transform(translate3d(0, 100vh, 0) !important);
  }

  &.in .modal-dialog {
    @include transform(translate3d(0, 0, 0) !important);
  }

  .modal-dialog {
    margin: 0;
    height: 100%;

    .modal-content {
      border: 0;
      @include border-radius(0);
      height: 100%;
      @include box-shadow(0 0 0 transparent);

      .modal-header {
        background-color: #27dc94;
        height: 46px;
        padding: 10px;
        position: relative;
        border-bottom: 0;

        h4.modal-title {
          font-size: 13.9px;
          font-weight: bold;
          letter-spacing: 0.7px;
          text-align: center;
          color: #ffffff;
          line-height: 28px;
          text-transform: uppercase;

          &.modal-title-normal {
            text-transform: none;
          }

          &.text-left {
            text-align: left !important;
          }
        }

        .logo {
          width: 97px;
          height: 18px;
        }

        .btn-close {
          position: absolute;
          right: 0;
          top: 0;
          background-color: transparent;
          border: 0;
          height: 100%;
          padding: 0 15px;
          color: #fff;
        }
      }

      .modal-body {
        height: calc(100% - 45px);
        padding: 10px;

        &.no-padding-vertical {
          padding-left: 0px;
          padding-right: 0px;
        }

        &.scrollable {
          overflow-x: hidden;
          overflow-y: auto;
        }
        // @include custom-scroll();

        .modal-heading {
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0.7px;
          color: #333333;
        }
      }
    }
  }
}

.modal-auto {
  z-index: 9999;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;

  .modal-dialog {
    margin: 15px;
    height: auto;

    .modal-content {
      @include border-radius(5px);

      .modal-header {
        @include border-radius(5px 5px 0 0);
        height: 44px;
      }
    }
  }
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */

  .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;

    .modal-content {
      /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
      width:inherit;
      height:inherit;
      /* To center horizontally */
      margin: 0 auto;
      pointer-events: all;
      height: auto;
    }
  }
}

@import 'modal-login';
@import 'modal-forgot-password';
@import 'modal-payment-guide';
@import 'modal-change-password';
@import 'modal-profile';
@import 'modal-order-tracking';
@import 'modal-order-list';
@import 'modal-order-detail';
@import 'modal-payment-method';
@import 'modal-address-list';
@import 'modal-cart';
@import 'modal-add-address';
@import 'modal-cart-group';
@import 'modal-add-cart';
@import 'modal-pay';
@import 'modal-share';