.modal-cart-group {
  .modal-dialog .modal-content .modal-body {
    padding: 0;
  }

  .row-1 {
    min-height: calc(100vh - 100px);
  }

  .group-store-info {
    background: url('../../img/pay-bg.png') -5px -5px no-repeat;
    padding: 10px;

    .group-store-name {
      font-size: 15.7px;
      color: #ffffff;
      font-weight: normal;
      margin: 5px 0;
      @include ellipsis();
    }

    .group-store-address {
      font-size: 10.7px;
      font-weight: 300;
      letter-spacing: 0.5px;
      color: #d4d4d4;
      @include ellipsis();
    }
  }

  .group-total {
    padding: 14px 10px 12px;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
  }

  .group-separator {
    font-size: 14px;
    background-color: #f6f6f6;
    color: #666666;
    padding: 8px 10px;
  }

  .members {
    padding: 10px;

    .member {
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 10px;
      padding-bottom: 10px;

      .column-avatar {
        float: left;
        width: 34px;

        img {
          width: 34px;
          height: 34px;
        }
      }

      .column-right {
        margin-left: 44px;

        .name {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.4px;
          color: #333333;
        }

        .quantity,
        .role {
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 0.4px;
          color: #666666;
        }

        .icon-png-owner {
          margin-right: 10px;
        }
      }
    }
  }

  .empty {
    text-align: center;

    p {
      font-size: 16px;
      letter-spacing: 0.5px;
      color: #666666;
      margin-top: 20px;
    }
  }

  .row-2 {
    padding: 0 10px;
  }
}