.modal-order-detail {
  letter-spacing: 0.7px;
  color: #333333;
  font-size: 14px;

  .overview {
    background-color: #f8f8f8;
    border: solid 1px #e2e2e2;
    @include border-radius(5px);
    padding: 10px;

    .total-price {
      margin-top: 10px;
      font-weight: 500;
    }
  }

  .shipper {
    margin-top: 15px;
  }

  .store-name {
    margin-top: 10px;

    a {
      color: #64a0dd;
    }
  }

  hr {
    border-color: #dbdbdb;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .heading {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;
    color: #333333;
  }

  .text-red {
    color: #d90b0b;
  }

  .order-process {
    .progress-wrapper {
      margin: 10px auto 20px;
      position: relative;
      height: 41px;

      .progress-item {
        float: left;
        width: 33.3333%;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 6px;
          background-color: #f4f4f4;
          right: 0;
          top: 18px;
          z-index: 0;
        }


        &:first-child {
          margin-left: 0;

          &:after {
            display: none;
          }
        }

        &.active {
          &:after {
            content: '';
            position: absolute;
            width: calc(50% - 50px);
            height: 2px;
            background-color: #27dc94;
            right: 35px;
            top: 20px;
            z-index: 1;
          }

          &.text-center {
            &:after {
              right: calc(50% + 16px);
            }
          }

          .progress-item-wrapper {
            background-color: #27dc94;
          }
        }

        &.canceled {
          .progress-item-wrapper {
            background-color: #666666;
          }
        }

        .progress-item-wrapper {
          display: inline-block;
          @include border-radius(25px);
          background-color: #d5d5d5;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0.6px;
          color: #ffffff;
          position: relative;
          border: 5px solid #f4f4f4;
          z-index: 1;
          width: 41px;
          height: 41px;
          border-radius: 50%;

          i {
            font-size: 20px;
            position: absolute;
            left: 8px;
            top: 6px;

            &.icon-check-circle,
            &.icon-close-circle {
              font-size: 17px;
              top: 7px;
              left: 7px;
            }

            &.icon-close-circle {
              font-weight: bold;
            }
          }

          span {
            position: relative;
            z-index: 2;
          }
        }
      }
    }

    .product {
      .product-img {
        width: 90px;
        float: left;
        margin-right: 10px;
      }

      .product-info {
        margin-left: 100px;

        h5 {
          margin: 0 0 10px;
          padding: 0;
        }

        .multi {
          display: inline-block;
          padding: 0 20px;
        }
      }
    }

    .btn-canceled {
      padding: 5px 15px !important;
      background: #fff;
      border: 1px solid #d90b0b;
      font-size: 12px;
      letter-spacing: 0.6px;
      text-align: left;
      color: #d90b0b;
    }
  }

  .summary {
    .custom-row {
      margin-bottom: 10px;
    }

    .help {
      color: #666666;

      &.small {
        font-size: 12px;
        letter-spacing: 0.4px;
      }
    }
  }

  .shipping-info {
    font-size: 12px;
    letter-spacing: 0.4px;

    b {
      font-size: 14px;
    }
  }

  .actions {
    margin: 20px 0 25px;

    .action-remove {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.7px;
      color: #d90b0b;
      @extend .btn.btn-transparent;

      &[disabled] {
        color: #999999;
      }
    }
  }
}