@import 'order-list';

.modal-order-list {
  .modal-body {
    .order-search {
      .control-label {
        position: relative;
        top: 6px;
      }

      input {
        font-size: 14px;
        letter-spacing: 0.7px;
        text-align: left;
        color: #333333;
        padding: 6px 10px;
      }
    }

    .order-list {
      margin-top: 20px;
    }
  }
}