@import 'input';

.modal-login {
  .modal-dialog {
    .modal-content {
      .modal-header {
        background-color: transparent;
        padding: 15px 0px;

        .modal-title {
          .nav-tabs {
            border: 0;

            li {
              a {
                border: 0;
                padding: 0px 15px;
                font-size: 13.9px;
                font-weight: bold;
                letter-spacing: 0.7px;
                text-align: center;
                color: rgba(51, 51, 51, 0.7);
              }

              &.active:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #27dc94;
                bottom: -13px;
                left: 0;
                z-index: 10;
              }
            }
          }
        }

        .btn-close {
          color: #333;
        }
      }

      .modal-body {
        .tab-content {
          padding-top: 28px;
          height: 100%;

          .tab-pane {
            height: 100%;

            form {
              height: 100%;

              .form-body {
                min-height: calc(100vh - 190px);

                .help-block.with-errors {
                  margin-left: 20px;
                }
              }
            }

            .form-control {
              > input[type='text'],
              > input[type='password'] {
                background: #fff;
                width: 70%;
                padding: 0;
                border: 0;
                outline: 0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.5px;
                color: #999999;

                @include placeholder(#999);
              }
            }

            .link-forgot-password {
              font-size: 14px;
              display: block;
              padding-bottom: 5px;
              letter-spacing: 0.4px;
            }

            .form-footer {
              margin-top: 10px;

              .help {
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.4px;
                text-align: center;
                color: #999999;
                margin-bottom: 15px;
              }

              .btn {
                @include border-radius(25px);
                @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
                padding: 10px 20px;
                outline: 0;

                > i {
                  width: 17px;
                  height: 17px;
                  top: 2px;
                }

                span {
                  font-size: 12px;
                  font-weight: bold;
                  letter-spacing: 1.2px;
                  text-align: center;
                }
              }

              .button-fb {
                background: #2c5893;

                span {
                  color: #ffffff;
                }
              }

              .button-google {
                background: #fff;
                border: solid 1px #d1d1d1;

                span {
                  color: #333333;
                }
              }
            }

            &#register {
              .help-block.with-errors {
                margin-left: 20px;
              }
                
              .input-email-form {
                display: none;
              }

              &.email-form {
                .input-email-form {
                  display: block;
                }

                .input-phone-form {
                  display: none;
                }
              }

              .btn-send-pincode {
                background: transparent;
                border: 0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.5px;
                color: #333333;
                padding: 0 0 20px;
                outline: 0;

                i {
                  color: #27dc94;
                  font-size: 13px;
                  margin-right: 10px;
                }
              }

              .term {
                text-align: center;
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 0.4px;
                color: #333333;
                margin-top: 10px;
                
                a {
                  color: #e47c1f;
                }
              }

              .form-footer {
                margin-top: 30px;

                .icon-png-phone {
                  width: 22px;
                  height: 22px;
                  top: -1px;
                  left: -4px;
                }
              }
            }

          }
        }
      }
    }
  }
}