.modal-cart {
  .modal-dialog .modal-content .modal-body {
    padding: 0;
  }

  .cart-head {
    background-color: #646464;
    height: 40px;
    position: relative;
    padding: 2px 10px;
  }

  .cart-body {
    border-top: 0;

    .scroll-wrapper {
      max-height: calc(100vh - 345px);
      overflow-y: auto;
      @include custom-scroll();
    }

    .user {
      display: table;
      width: 100%;
      padding: 10px;
      background-color: #FFF;

      .user-avatar {
        width: 34px;
        height: 34px;
        @include border-radius(50%);
        background: url('../../img/icon-avatar.png') 0 0 no-repeat #efefef;
        background-size: cover;
        float: left;
      }

      .user-name {
        float: left;
        font-size: 14px;
        letter-spacing: 0.4px;
        color: #333333;
        position: relative;
        top: 6px;
        left: 10px;
      }

      .user-quantity {
        float: right;
        font-size: 14px;
        letter-spacing: 0.4px;
        color: #333333;
        position: relative;
        top: 6px;
      }
    }

    .product-quantity {
      float: left;
      display: table;
      position: relative;
      top: 2px;
    
      .quantity-button {
        width: 15px;
        height: 15px;
        background-color: #f5bb08;
        float: left;
        @include border-radius(50%);
        text-align: center;
        cursor: pointer;

        &:active {
          opacity: 0.5;
        }
    
        &.quantity-decrease {
          background-color: #7490a4;
        }
    
        i {
          color: #fff;
          font-size: 8px;
          position: relative;
          top: -4px;
          font-weight: bold;
        }
      }
    
      .quantity-text {
        float: left;
        padding: 0 5px;
        font-size: 14px;
        letter-spacing: 0.4px;
        color: #333333;
        line-height: normal;
      }
    }

    .products {
      background-color: #fffbe1;
      @include box-shadow(0px 1px 0 0 #eaeaea);
      padding: 5px 15px;

      .product-item {
        border-bottom: 1px solid #ede8c4;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
          border-bottom: 0;
        }

        .product-row {
          padding: 5px 0;
          display: table;
          width: 100%;

          .product-name {
            font-size: 14px;
            letter-spacing: 0.4px;
            color: #333333;
            margin-left: 10px;
            float: left;
          }

          .product-note {
            float: left;

            input {
              background-color: transparent;
              border: 0;
              outline: 0;
              font-size: 12px;
              font-weight: 300;
              letter-spacing: 0.4px;
              color: #999999;
            }
          }

          .product-price {
            float: right;
            font-size: 14px;
            letter-spacing: 0.4px;
            color: #333333;
          }
        }
      }
    }

    .cart-footer {
      padding: 10px 15px;
      background-color: #FFF;

      .cart-footer-row {
        display: table;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 15px;
        padding-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: 0;
        }

        &.cart-estimate {
          border-bottom: 0;
        }

        .help {
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0.4px;
          color: #999999;
          margin-bottom: 0;
        }

        .pull-right {
          b {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0.5px;
            color: #333333;
          }

          span {
            font-size: 15px;
            letter-spacing: 0.5px;
            color: #d90b0b;
          }
        }
      }

      .cart-button {
        button {
          background-color: #27dc94;
          @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.09));
          @include border-radius(25px);
          display: block;
          border: 0;
          width: 100%;
          text-transform: uppercase;
          color: #fff;
          padding: 9px 10px;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 1.4px;
          color: #ffffff;
        }
      }
    }
  }
}


.cart {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(28,28,28,0.9);
  padding: 10px 0 10px 10px;
  width: 100%;
  z-index: 10;

  .custom-row {
    > div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .total {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;

    .total-text {
      color: #ffffff;
    }

    .total-price {
      margin-top: 4px;
      font-weight: bold;
      color: #d90b0b;
    }
  }

  .group {
    text-align: right;
    width: 50px;

    .btn {
      background-color: #4c4c4c;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.4px;
      color: #ffffff;
      padding: 7px 20px;
      outline: 0;
    }
  }

  .actions {
    width: 50px;

    button {
      background-color: transparent;
      border: 0;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.4px;
      color: #d6d6d6;
      padding: 10px;
      width: 100%;
      outline: 0;
    }
  }

  .buttons {
    padding-right: 10px;
    margin-top: 10px;

    .btn {
      background-color: #27dc94;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1.2px;
      color: #ffffff;
      padding: 10px;
      outline: 0;

      &[disabled] {
        background-color: #464646;
        color: rgba(255, 255, 255, 0.2);
        opacity: 1;
      }
    }
  }
}