.modal-add-cart {
  .modal-dialog .modal-content .modal-body {
    height: calc(100% - 45px - 99px);
  }

  .product-info {
    padding: 0 10px;

    .column-right {
      margin-left: 100px;

      h5 {
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #333333;
        margin: 0;
      }

      small {
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 0.6px;
        color: #969696;
        margin: 7px 0;
        display: block;
      }

      .price {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.7px;
        color: #d90b0b;
      }
    }
  }

  .group-separator {
    font-size: 14px;
    background-color: #f6f6f6;
    color: #666666;
    padding: 8px 10px;
    margin: 13px 0 15px;

    span {
      color: #969696;
    }
  }

  .options {
    max-height: calc(100vh - 242px);
    overflow-y: auto;
    list-style-type: none;
    padding: 0 10px;

    &::-webkit-scrollbar-track {
      // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #ebebeb;
      @include border-radius(5px);
    }
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #ebebeb;
      @include border-radius(5px);
    }
    &::-webkit-scrollbar-thumb {
      background-color: #9a9a9a;
      @include border-radius(5px);
    }

    input[type='checkbox'] {
      position: absolute;
      opacity: 0;

      &:checked + span:before {
        background: #27dc94;
        border-color: #27dc94;
      }
      &:checked + span:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 8px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
      }
    }

    span {
      position: relative;

      &:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 18px;
        height: 18px;
        background: white;
        border: 1px solid #27dc94;
        @include border-radius(3px);
      }

      b {
        font-weight: normal;
        color: #d90b0b;
        display: inline-block;
        margin-left: 20px;
      }
    }

    label {
      padding: 7px 0;
      text-transform: none;
      font-size: 14px;
      letter-spacing: 0.7px;
      color: #333333;
      font-weight: normal;
      display: block;
      cursor: pointer;
    }
  }

  .modal-footer {
    margin: 0 10px 10px;
    padding: 0;
  }

  .product-quantity {
    margin: 14px auto;
    display: table;
    position: relative;
    top: 2px;

    .quantity-button {
      width: 21px;
      height: 21px;
      background-color: #f5bb08;
      float: left;
      @include border-radius(50%);
      text-align: center;
      cursor: pointer;

      &:active {
        opacity: 0.5;
      }

      &.quantity-decrease {
        background-color: #7490a4;
      }

      i {
        color: #fff;
        font-size: 11px;
        position: relative;
        top: 1px;
        font-weight: bold;
      }
    }

    .quantity-text {
      float: left;
      padding: 0px 15px;
      font-size: 19px;
      letter-spacing: 0.4px;
      color: #333333;
      line-height: normal;
    }
  }
}