@import 'radio-button';

.modal-pay {
  .modal-dialog .modal-content .modal-body {
    padding: 0;
  }

  ul.nav {
    background-color: #646464;
    padding: 0 10px;

    > li {
      width: 33.3333%;
      text-align: center;
      position: relative;

      > a {
        padding: 10px 0;
        border: 0;
        background-color: transparent;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.4px;
        color: #ffffff;
      }

      &.active {
        > a {
          background-color: transparent;
          color: #27dc94;
          border: 0;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #27dc94;
          }
        }
      }
    }
  }

  .tab-content {
    height: calc(100vh - 82px);

    &.scrollable {
      overflow-y: auto;
    }

    .tab-pane {
      height: 100%;
    }
  }

  #step-1 {
    .map-container {
      width: 100%;
      padding-bottom: 56%;
    }

    hr {
      margin: 0 10px 10px;
      border-color: #dbdbdb;

      &.medium  {
        margin: 10px 0;
        background-color: #efefef;
        border: 0;
        height: 10px;
      }
    }

    .store-info {
      padding: 10px;
      
      .store-name {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.4px;
        color: #333333;
        margin: 0 0 5px;
        padding: 0;
      }

      .store-address {
        font-size: 11px;
        letter-spacing: 0.3px;
        color: #999999;
      }
    }

    .shipping-time {
      padding: 0 10px;

      .form-control {
        font-size: 14px;
        letter-spacing: 0.4px;
        padding-top: 8px;
        padding-bottom: 8px;
        height: 36px;
      }

      .input-date-time {
        width: calc(45% - 10px);
      }

      .select-time {
        width: 55%;
      }
    }

    .shipping-n-cost {
      padding: 0 10px;

      small {
        display: block;
        line-height: 1.5;
      }
    }

    .shipping-address {
      padding: 0 10px;

      .form-control {
        font-size: 14px;
        font-weight: normal;
      }

      .form-address-available {
        padding-bottom: 10px;

        ul {
          list-style-type: none;
          padding: 0;

          .address-item {
            margin-bottom: 10px;

            .radio-wrapper {
              float: left;
              width: 30px;
              position: relative;
              top: 10px;
            }
          }

          .address-item-info {
            display: block;
            margin-bottom: 0;
            font-weight: normal;
            margin-left: 30px;
            background-color: #f3f3f7;
            padding: 10px;
            @include border-radius(5px);
            color: #333333;
            line-height: 1.67;
            letter-spacing: 0.4px;

            .address-item-name {
              font-size: 14px;
              font-weight: 500;
            }

            .address-item-phone {
              font-size: 11px;
            }

            .address-item-action {
              margin-top: 5px;

              .link {
                font-size: 14px;
                letter-spacing: 0.4px;

                &.link-edit {
                  color: #2392e8 !important;
                }
              }
            }
          }
        }

        .actions {
          margin: 20px 0px 10px 30px;
        }
      }
    }

    .actions {
      padding: 0 10px 10px;
    }
  }

  #step-2 {
    .heading {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.4px;
      color: #333333;
      padding: 0;
      margin: 0 0 10px;
    }

    .section-shipping-address {
      padding: 10px;

      .buyer-info {
        background-color: #f3f3f7;
        @include border-radius(5px);
        padding: 7px 10px;

        .buyer-name {
          font-size: 14px;
          font-weight: 500;
          color: #333333;
          letter-spacing: 0.4px;
          line-height: 1.82;
        }

        .buyer-address,
        .buyer-phone {
          font-size: 11px;
          letter-spacing: 0.3px;
          color: #333333;
          line-height: 1.82;
        }
      }
    }

    .section-payment-method {
      padding: 10px;

      .payment-method-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 10px;
          cursor: pointer;
          position: relative;

          input[type='radio'] {
            position: absolute;

            &:checked + span:before {
              background-color: #FFF;
            }

            &:checked + span:after {
              background: #7490a4;
              border-color: #fff;
              width: 8px;
              height: 8px;
              content: '';
              position: absolute;
              border-radius: 50%;
              top: 5px;
              left: 5px;
            }
          }

          span {
            position: relative;
            font-size: 14px;
            letter-spacing: 0.4px;
            color: #333333;
            font-weight: normal;

            &:before {
              content: '';
              margin-right: 15px;
              display: inline-block;
              vertical-align: text-top;
              width: 18px;
              height: 18px;
              background: #fff;
              border: 1px solid #666666;
              @include border-radius(50%);
            }
          }
        }
      }
    }

    hr {
      margin-top: 0px;
      height: 10px;
      background: #efefef;
      border: 0;
      margin-bottom: 0;
    }

    .section-product {
      padding: 10px 0 0;

      .heading {
        padding-left: 10px;
        margin-bottom: 0;
      }

      .text-red {
        color: #d90b0b;
      }

      .input-coupon-code {
        padding: 10px 0;

        span {
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0.4px;
          color: #333333;
          margin-right: 10px;
          display: inline-block;
        }

        input {
          @include border-radius(25px);
          font-size: 12px;
          letter-spacing: 0.4px;
          color: #333333;
          font-weight: bold;
          border: 1px solid rgba(36, 65, 89, 0.2);
          text-align: center;
          padding: 7px 7px 6px;
          width: 115px;
          outline: 0;
          background-color: #f3efd5;
          font-weight: bold;
          @include placeholder(#333333);

          &.is-empty{
            border-color: #f3efd5;
            background-color: #f3efd5;
            font-weight: normal;
          }
        }
      }
    }
  }

  #step-3 {
    text-align: center;
    background: url('../../img/done-bg.png') center bottom no-repeat;
    background-size: contain;

    h2 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 1.2px;
      color: #333333;
      padding: 44px 0 0;
      margin: 0;
    }

    p {
      font-size: 14px;
      line-height: 1.57;
      letter-spacing: 0.7px;
      color: #333333;
      padding: 16px 42px 44px;
    }

    .actions {
      margin: 0 70px;

      .btn {
        font-size: 12.3px;
        font-weight: bold;
        letter-spacing: 1.2px;
      }
    }
  }
}