.modal-profile {
  a {
    display: inline-block;
  }
  
  .icon-avatar {
    margin-top: 10px;
  }

  .avatar-text {
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #2c92e1;
    margin-top: 10px;
    display: block;
  }

  .link-change-password {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #2c92e1;
  }
}