@import 'main';

.all-modal {
  padding: 10px;

  .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

.modal-header-img {
  .modal-dialog {
    .modal-content {
      background-color: transparent;

      .modal-heading-img {
        height: 95px;
        text-align: center;
        background-color: transparent;
        position: relative;
        @include border-radius(5px 5px 0 0);

        img {
          margin: 0 auto;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }

      .modal-body {
        padding: 10px;
        background-color: #FFF;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.79;
        letter-spacing: 0.7px;
        color: #333333;
        @include border-radius(0 0 5px 5px);

        h5 {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.56;
          letter-spacing: 0.8px;
          margin: 0;
          padding: 0 0 15px;
        }
      }
    }
  }
}

.modal-maintain {
  .modal-dialog {
    .modal-content {
      .modal-heading-img {
        background-color: #D32E2E;

        img {
          height: 112px;
          width: 300px;
        }
      }
    }
  }
}

.modal-congration {
  .modal-dialog {
    .modal-content {
      .modal-heading-img {
        background-color: #7490a4;

        img {
          height: 109px;
          width: 246px;
        }
      }
    }
  }
}

.modal-info {
  .modal-dialog {
    .modal-content {
      .modal-header {
        background-color: #646464;

        .modal-title {
          font-weight: normal !important;
        }
      }
    }
  }
}

.modal-info-white {
  .modal-dialog {
    .modal-content {
      .modal-header {
        background-color: #fff;
        border-bottom: 1px solid #d3d3d3;

        .modal-title {
          font-weight: normal !important;
          color: #333 !important;
        }
      }
    }
  }
}
